{% extends "includes/layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set serviceName = "" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header }}</h1>
            <p class="govuk-body">{{ content.introduction | safe }}</p>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>

            {{ govukInsetText({
                text: content.paragraph2 | replace("{applicationFormPA1P}", globals.links.applicationFormPA1P) | replace("{applicationFormPA1A}", globals.links.applicationFormPA1A) | safe
            }) }}

            <h2 class="govuk-heading-m">
                {{ content.multipleHeader | safe }}
            </h2>
            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph5 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph6 | safe }}</p>
            <h2 class="govuk-heading-m">
                {{ content.feesHeader | safe }}
            </h2>

            {% if fields.isFeesApiToggleEnabled.value == "true" %}
                <p class="govuk-body">{{ content.paragraph7 | safe }}</p>
                {{ govukTable({
                    caption: content.tableHeadLeft | safe,
                    captionClasses: "govuk-visually-hidden",
                    head: [
                        { text: content.tableHeadLeft | safe },
                        { text: content.tableHeadRight | safe, format: "numeric" }
                    ],
                    rows: [
                        [
                            { text: content.tableBodyFeeRange1 | safe },
                            { text: content.tableBodyFeeRange1Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange2 | safe },
                            { text: content.tableBodyFeeRange2Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange3 | safe },
                            { text: content.tableBodyFeeRange3Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange4 | safe },
                            { text: content.tableBodyFeeRange4Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange5 | safe },
                            { text: content.tableBodyFeeRange5Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange6 | safe },
                            { text: content.tableBodyFeeRange6Value | safe, format: "numeric" }
                        ],
                        [
                            { text: content.tableBodyFeeRange7 | safe },
                            { text: content.tableBodyFeeRange7Value | safe, format: "numeric" }
                        ]
                    ]
                }) }}
                <p class="govuk-body">{{ content.paragraph8 | safe }}</p>
            {% else %}
                <p class="govuk-body">{{ content.paragraph7old | safe }}</p>
                <p class="govuk-body">{{ content.paragraph8old | safe }}</p>
            {% endif %}
            <p class="govuk-body">{{ content.paragraph9 | safe }}</p>
            <h2 class="govuk-heading-m">
                {{ content.feedbackHeader | safe }}
            </h2>
            <p class="govuk-body">{{ content.paragraph10 | safe }}</p>
        </div>
    </div>
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.checkApply,
            href: "/death-certificate",
            isStartButton: true
        }) }}
    </div>

    <p class="govuk-body"><a href="/task-list" class="govuk-link">{{ content.paragraph11 }}</a></p>
{% endblock %}
