{% extends "includes/layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header | safe }}</h1>
            <p class="govuk-body">{{ content.introduction | safe }}</p>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <h2 class="govuk-heading-m">{{ content.multipleHeader | safe }}</h2>
          <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <p class="govuk-body">
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ content.listItem1 | safe }}</li>
                    <li>{{ content.listItem2 | safe }}</li>
                    <li>{{ content.listItem3 | safe }}</li>
                    <li>{{ content.listItem4 | safe }}<a href="{{globals.links.ihtChecker}}" rel="external noopener" target="_blank" class="govuk-link" aria-label="{{content.linkText3}}">{{ content.linkText3 | safe }}</a></li>
                    <li>{{ content.listItem5 | safe }}</li>
                    <li>{{ content.listItem6 | safe }}</li>
                </ul>
            </p>
        </div>
    </div>
    <br>
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            href: "/death-certificate",
            isStartButton: true
        }) }}
    </div>
    <h2 class="govuk-heading-m">{{ content.applicationStartedHeader | safe }}</h2>
    <p class="govuk-body"><a href="/dashboard" class="govuk-link">{{ content.paragraph3 | safe }}</a></p>
    {% include "includes/help_details.html" %}
{% endblock %}
