{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if fields.estateValueCompleted.value == "optionYes" %}
  {% if fields.ihtFormEstateId.value == "optionIHT207" %}
    {% set displayQuestion = content.question207 %}
    {% set displayQuestionHint = content.hint207 %}
    {% set displayGrossHint = content.grossHint207 %}
    {% set displayNetHint = content.netHint207 %}
  {% else %}
    {% set displayQuestion = content.question421 %}
    {% set displayQuestionHint = content.hint421 %}
    {% set displayGrossHint = content.grossHint421 %}
    {% set displayNetHint = content.netHint421 %}
  {% endif %}
{% else %}
  {% set displayQuestion = content.questionNoIHT %}
  {% set displayGrossHint = content.grossHintNoIHT %}
  {% set displayNetHint = content.netHintNoIHT %}
{% endif %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: displayQuestion| safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

        <p class="govuk-hint">{{ displayQuestionHint | safe }}
        </p>

        {{ govukInput({
            label: {
                text: displayGrossHint | safe
            },
            id: "grossValueField",
            name: "grossValueField",
            value: fields.grossValueField.value | safe,
            errorMessage: { text: fields.grossValueField.errorMessage | safe } if fields.grossValueField.errorMessage,
            attributes: {
                maxlength: 13
            },
            prefix: {
                text: content.poundSymbol | safe
            },
            classes: "govuk-!-width-one-third"
        }) }}
        {{ govukInput({
            label: {
                text: displayNetHint | safe
            },
            id: "netValueField",
            name: "netValueField",
            value: fields.netValueField.value | safe,
            errorMessage: { text: fields.netValueField.errorMessage | safe } if fields.netValueField.errorMessage,
            attributes: {
                maxlength: 13
            },
            prefix: {
                text: content.poundSymbol | safe
            },
            classes: "govuk-!-width-one-third"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
