{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set iht205html %}
        {{ govukInput({
            label: {
                text: content.gross205 | safe
            },
            id: "grossValueFieldIHT205",
            name: "grossValueFieldIHT205",
            classes: "govuk-!-width-one-third",
            value: fields.grossValueFieldIHT205.value | safe,
            errorMessage: { text: fields.grossValueFieldIHT205.errorMessage.message | safe } if fields.grossValueFieldIHT205.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
        {{ govukInput({
            label: {
                text: content.net205 | safe
            },
            id: "netValueFieldIHT205",
            name: "netValueFieldIHT205",
            classes: "govuk-!-width-one-third",
            value: fields.netValueFieldIHT205.value | safe,
            errorMessage: { text: fields.netValueFieldIHT205.errorMessage.message | safe } if fields.netValueFieldIHT205.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
    {% endset -%}

    {% set iht207html %}
        {{ govukInput({
            label: {
                text: content.gross207 | safe
            },
            id: "grossValueFieldIHT207",
            name: "grossValueFieldIHT207",
            classes: "govuk-!-width-one-third",
            value: fields.grossValueFieldIHT207.value | safe,
            errorMessage: { text: fields.grossValueFieldIHT207.errorMessage.message | safe } if fields.grossValueFieldIHT207.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
        {{ govukInput({
            label: {
                text: content.net207 | safe
            },
            id: "netValueFieldIHT207",
            name: "netValueFieldIHT207",
            classes: "govuk-!-width-one-third",
            value: fields.netValueFieldIHT207.value | safe,
            errorMessage: { text: fields.netValueFieldIHT207.errorMessage.message | safe } if fields.netValueFieldIHT207.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
    {% endset -%}

    {% set iht400421html %}
        {{ govukInput({
            label: {
                text: content.gross400 | safe
            },
            id: "grossValueFieldIHT400421",
            name: "grossValueFieldIHT400421",
            classes: "govuk-!-width-one-third",
            value: fields.grossValueFieldIHT400421.value | safe,
            errorMessage: { text: fields.grossValueFieldIHT400421.errorMessage.message | safe } if fields.grossValueFieldIHT400421.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
        {{ govukInput({
            label: {
                text: content.net400 | safe
            },
            id: "netValueFieldIHT400421",
            name: "netValueFieldIHT400421",
            classes: "govuk-!-width-one-third",
            value: fields.netValueFieldIHT400421.value | safe,
            errorMessage: { text: fields.netValueFieldIHT400421.errorMessage.message | safe } if fields.netValueFieldIHT400421.errorMessage,
            attributes: {
                maxlength: 13
            }
        }) }}
        <div class="govuk-form-group">
            <p class="govuk-body">{{ content.421Info }}</p>
        </div>
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "form",
        name: "form",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.form.errorMessage.message } if fields.form.errorMessage,
        items: [
            {
                value: "optionIHT205",
                text: content["optionIHT205"],
                checked: true if fields.form.value == "optionIHT205" | escape,
                conditional: {
                    html: iht205html
                }
            },
            {
                value: "optionIHT207",
                text: content["optionIHT207"],
                checked: true if fields.form.value == "optionIHT207" | escape,
                conditional: {
                    html: iht207html
                }
            },
            {
                value: "optionIHT400421",
                text: content["optionIHT400421"],
                checked: true if fields.form.value == "optionIHT400421" | escape,
                conditional: {
                    html: iht400421html
                }
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
