{% extends "includes/layout.html" %}

{% set hideNavigation = true %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.pageHeader | safe }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | replace("{leadExecFullName}", fields.leadExecFullName.value) | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.subHeader | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph2 | replace("{leadExecFullName}", fields.leadExecFullName.value) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph3 | replace("{leadExecFullName}", fields.leadExecFullName.value) | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4a }}<a href="{{ globals.links.surveyEndOfApplication }}" class="govuk-link" target=\"_blank\" rel=\"external noopener\">{{ content.paragraph4b | safe }}</a>.</p>
            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
