{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set optionRenunciatedHint %}
        <p class="govuk-body">{{ content.optionRenunciatedHint | replace("{applicationFormPA15}", globals.links.applicationFormPA15) | safe }}</p>
    {% endset %}

    {% set optionPowerReservedHint %}
        <p class="govuk-body">{{ content.optionPowerReservedHint | safe }}</p>
    {% endset %}

    {{ govukRadios({
        idPrefix: "notApplyingReason",
        name: "notApplyingReason",
        fieldset: {
            legend: {
                text: content.question | replace("{executorFullName}", fields.list.value[fields.index.value].fullName) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.notApplyingReason.errorMessage | safe } if fields.notApplyingReason.errorMessage,
        items: [
            {
                value: "optionPowerReserved",
                text: content["optionPowerReserved"] | replace("{executorFullName}", fields.list.value[fields.index.value].fullName) | safe,
                checked: true if fields.notApplyingReason.value == "optionPowerReserved",
                conditional: {
                    html: optionPowerReservedHint
                }
            },
            {
                value: "optionRenunciated",
                text: content["optionRenunciated"] | replace("{executorFullName}", fields.list.value[fields.index.value].fullName) | safe,
                checked: true if fields.notApplyingReason.value == "optionRenunciated",
                conditional: {
                    html: optionRenunciatedHint
                }
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
