{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | replace("{executorName}", fields.otherExecName.value) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.questionHint | safe }}</p>

        {% set label = content.email + "<br/>" + content.email2 %}

        {{ govukInput({
            label: {
                text: label | safe
            },
            id: "email",
            name: "email",
            value: fields.email.value | safe,
            errorMessage: { text: fields.email.errorMessage | safe } if fields.email.errorMessage,
            attributes: {
                maxlength: 320
            },
            classes: "govuk-!-width-three-quarters"
        }) }}

        <p class="govuk-hint">{{ content.mobileHint | safe }}</p>

        {{ govukInput({
            label: {
                text: content.mobile | safe
            },
            id: "mobile",
            name: "mobile",
            value: fields.mobile.value | safe,
            errorMessage: { text: fields.mobile.errorMessage | safe } if fields.mobile.errorMessage,
            attributes: {
                maxlength: 25
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
