{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.header | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
      <h2 class="govuk-heading-m">{{ content.heading1 | safe }}</h2>
      <p class="govuk-body">{{ content.text1 | safe }}</p>

      {{ unorderedList(fields.checkListItems.value) }}
      {{ govukInsetText({
        text: content.warning | safe
      }) }}

      <h2 class="govuk-heading-m">{{ content.heading2 | safe }}</h2>
      <p class="govuk-body">{{ content.text2 | safe }}</p>

      {{ govukInsetText({
        text: fields.registryAddress.value | safe | nl2br
      }) }}

      <input id="sentDocuments" type="hidden" name="sentDocuments" value="true"/>
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

