{% extends "includes/two_thirds_form.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% set checklistOneItems = [] %}
{% set codicilsSuffix = "" %}

{% if fields.hasCodicils.value == "true" and fields.codicilsNumber.value > "0" %}
    {% set checklistOneItems = (checklistOneItems.push(content["checklist1-item1-codicils"]), checklistOneItems) %}
    {% set codicilsSuffix = "-codicils" %}
{% else %}
    {% set checklistOneItems = (checklistOneItems.push(content["checklist1-item1-no-codicils"]), checklistOneItems) %}
{% endif %}

{% if fields.uploads.value | length == 0 %}
    {% set checklistOneItems = (checklistOneItems.push(content["checklist2-item3-will-uploaded"]), checklistOneItems) %}
{% endif %}
{% if (fields.is205.value == "true") %}
    {% set checklistOneItems = (checklistOneItems.push(content["checklist2-item4-iht205"]), checklistOneItems) %}
{% endif %}
{% if fields.hasRenunciated.value == "true" %}
    {% set checklistOneItems = (checklistOneItems.push(content["checklist2-item5-renunciated"] | replace("{renunciationFormLink}", links.renunciationForm)), checklistOneItems) %}
{% endif %}
{% if fields.executorsNameChangedByDeedPollList.value | length > 0 %}
    {% for executor in fields.executorsNameChangedByDeedPollList.value %}
        {% set checklistOneItems = (checklistOneItems.push(content["checklist2-item6-deed-poll"] | replace("{executorCurrentName}", executor)), checklistOneItems) %}
    {% endfor %}
{% endif %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.header | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <h2 class="govuk-heading-m">{{ content.heading1 | safe }}</h2>
        <p class="govuk-body">{{ content.coverSheetDownloadMessage }} <a class="govuk-link" id="coverSheetPdfHref" href="/cover-sheet-pdf">{{ content.coverSheetPdf }}</a>.</p>
        {% if fields.ccdReferenceNumber.value !== "" %}
            <p class="govuk-body">{{ content.text1 | safe | replace("{ccdReferenceNumber}", fields.ccdReferenceNumber.value) }}</p>
        {% endif %}
        <p class="govuk-body">{{ content.text2 | safe }}</p>
        {{ unorderedList(checklistOneItems) }}

        <p class="govuk-body">{{ content.text3 | safe }}</p>
        <p class="govuk-body">{{ content.text4 | safe }}</p>

        <div class="panel panel-border-wide">
            <p class="govuk-body">{{ content.warning | safe }}</p>
        </div>

        <h2 class="govuk-heading-m">{{ content.heading2 | safe }}</h2>
        <p class="govuk-body">{{ content.text5 | safe }}</p>

        <div class="panel panel-border-narrow">
            <p class="govuk-body">{{ fields.registryAddress.value | safe | nl2br }}</p>
        </div>

        <input id="sentDocuments" type="hidden" name="sentDocuments" value="true"/>
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
