{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set hideNavigation = true %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.header | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <h2 class="govuk-heading-m pin-sub-header">{{ content.subHeader | safe }}</h2>
        <p class="govuk-body">{{ content.securityCode | safe }}</p>
        <p class="govuk-body">{{ content.phoneCode | safe }}</p>

        {{ govukInput({
            label: {
                text: content.pinText | safe
            },
            type: "password",
            id: "pin",
            name: "pin",
            value: fields.pin.value | safe,
            errorMessage: { text: fields.pin.errorMessage.message | safe } if fields.pin.errorMessage,
            attributes: {
                maxlength: 6
            },
            classes: "govuk-input--width-4"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.button | safe,
            preventDoubleClick: true
        }) }}
    </div>

    <p class="govuk-body"><a href="/pin-resend" class="govuk-link">{{ content.forgottenCode | safe }}</a></p>
{% endblock %}

{% block save_and_close %}{% endblock %}
