{% if fields.isAvayaWebChatEnabled.value === 'true'%}

{% set webchatLanguage = 'English' %}

{% if fields.language.value == "cy" %}
    {% set webchatLanguage = 'Welsh' %}
{% endif %}

<web-chat class="hidden" 
    chat-title="Ask Probate" 
    chat-icon-url="public/images/icon.png"
    locale-url="public/locales/avaya-webchat"
    url="webchat.ctsc.hmcts.net"
    secure-connections="true"
    api-version="1.0"
    metrics-polling-interval="30"
    Language="{{ webchatLanguage }}"
    Service="Probate"
    page-name="Apply for Probate"> 
</web-chat>

<button type="button" role="button" class="chat-button">Talk to an Agent</button>

{% endif %}
