<p class="govuk-body">
    Probate webchat is temporarily unavailable while we address a technical issue.
    We're sorry for any inconvenience caused.<br>
    For any general enquiries, please call 0300 123 1072
</p>

<web-chat
    id="avayaWebchatMetric"
    class="hidden"
    chat-title="Ask Probate" 
    chat-icon-url="public/images/icon.png"
    locale-url="public/locales/avaya-webchat"
    url="webchat.ctsc.hmcts.net"
    secure-connections="true"
    api-version="1.0"
    metrics-polling-interval="30"
    Language="English"
    Service="Probate"
    page-name="Apply for Probate"> 
</web-chat>
