<div id="avaya-webchat-open" class="govuk-body" hidden>
    <a href="#" class="govuk-link" rel="noreferrer noopener" id="avaya-webchat-link">{{ common.helpChatWithAnAgent | safe }}</a>
</div>
<p class="govuk-body" id="avaya-webchat-close" hidden> {{ common.helpChatClosed | replace("\n", "\\n") | replace("{chatOpeningHours}", common.helpChatOpeningHours) | safe }} </p>
<p class="govuk-body" id="webchat-agent-busy" hidden> {{ common.helpAllAgentsBusy | replace("\n", "\\n") | safe }} </p>
<p class="govuk-body" id="webchat-maintenance"> {{ common.helpChatMaintenance | replace("\n", "\\n") | safe }} </p>

<web-chat
    id="avayaWebchatMetric"
    class="hidden"
    locale-url="public/locales/avaya-webchat/en-{{fields.language.value}}"
    url="{{ globals.webchat.avayaUrl }}"
    secure-connections="true"
    api-version="1.0"
    metrics-polling-interval="30"
    {% if fields.language.value ==='cy' %}
      Language="Welsh"
      page-name="Gwneud cais am Brofiant"
      chat-title="Holi Profiant"
    {% endif %}
    {% if fields.language.value ==='en' %}
      Language="English"
      page-name="Apply for Probate"
      chat-title="Ask Probate"
    {% endif %}
    service="{{ globals.webchat.avayaService }}"
    User="Chat"
    aria-hidden="true"
    hidden>
</web-chat>
