<div class="document-upload">
    <div class="document-upload__dropzone">
        <img src="/public/images/document-upload-arrow.png" class="document-upload__image" alt="{{ content.title }}">
        <div class="document-upload__text">
            <p class="document-upload__dropzone-text document-upload__dropzone-text--choose-file">{{ common.documentUploadChooseFile }}</p>
            <p class="document-upload__dropzone-text bold">{{ common.or }}</p>
            <p class="document-upload__dropzone-text">{{ common.documentUploadDragAndDrop }}</p>
        </div>
    </div>
    <div class="document-upload__preview">
        <h2 class="heading-medium">{{ common.documentUploadPreviewTitle }}</h2>
        <p class="document-upload__no-files-uploaded-text">{{ common.documentUploadNoFilesUploaded }}</p>
    </div>
</div>