{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "widgets/fielderror.html" import fieldError %}

<div class="document-upload">
    <div class="document-upload__dropzone">
      {{ fieldError(fields.citizenResponse) }}
        <img src="/public/images/document-upload-arrow.png" class="document-upload__image" alt="{{ content.title | safe }}">
        <div class="document-upload__text">
            <p class="govuk-body document-upload__dropzone-text document-upload__dropzone-text--choose-file">{{ common.documentUploadChooseFile | safe }}</p>
            <p class="govuk-body document-upload__dropzone-text bold">{{ common.or | safe }}</p>
            <p class="govuk-body document-upload__dropzone-text">{{ common.documentUploadDragAndDrop | safe }}</p>
        </div>
        <div class="document-upload__fallback fallback">
          <div class="govuk-form-group">
              {{ govukFileUpload({
                  id: "file",
                  name: "file",
                  label: {
                      text: content.title | safe
                  }
              }) }}
          </div>
          <div class="govuk-form-group">
              {{ govukButton({
                  text: common.documentUploadUploadDocument | safe,
                  preventDoubleClick: true,
                  classes: "govuk-button--secondary",
                  attributes: {
                      id: "button"
                  }
              }) }}
          </div>
        </div>
    </div>
    <div class="document-upload__preview" id="uploaded-files">
        <h2 class="govuk-heading-m">{{ common.documentUploadPreviewTitle | safe }}</h2>

        {% if (fields.uploadedDocuments.value == undefined or fields.uploadedDocuments.value.length == 0) %}
            <p class="govuk-body document-upload__empty-list-text">{{ common.documentUploadEmptyList | safe }}</p>
        {% endif %}

        {% for document in fields.uploadedDocuments.value %}
            <div class="dz-preview dz-file-preview">
                <div class="dz-error-message">
                    <span data-dz-errormessage></span>
                </div>
                <div class="dz-details">
                    <div class="dz-filename">
                        <span data-dz-name class="govuk-body">{{ document | safe }}</span>
                    </div>
                </div>
                <div class="dz-progress">
                    <span class="dz-upload" data-dz-uploadprogress></span>
                </div>
                <a class="govuk-link dz-remove" href="/provide-information/remove/{{ loop.index0 }}">{{ common.documentUploadRemoveFile | safe }}</a>
            </div>
        {% endfor %}
    </div>
</div>
