{% extends "template.njk" %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
    {% if title === undefined %}
        {% set title = content.title %}
    {% endif %}

    {{ title | safe }}{% if serviceName %}{{ ' - ' + serviceName }}{% endif %}
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}

{#
{% block cookie_message %}
    <p>{{ cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
    with-proposition
{% endblock %}
#}

{% block header %}
    {% if not displaySignOutLink %}
        {{ govukHeader({
            homepageUrl: "#",
            containerClasses: "govuk-width-container",
            serviceName: serviceName,
            serviceUrl: "/"
        }) }}
    {% else %}
        {{ govukHeader({
            homepageUrl: "#",
            containerClasses: "govuk-width-container",
            serviceName: serviceName,
            serviceUrl: "/",
            navigation: [
                {
                    href: "/sign-out",
                    text: "Sign out"
                }
            ]
        }) }}
    {% endif %}
{% endblock %}

{% block beforeContent %}
    {{ govukPhaseBanner({
        tag: {
            text: common.phase
        },
        html: common.feedback | replace('{smartSurveyFeedbackUrl}', links.survey) | replace('{currentPageUrl}', pageUrl) | safe
    }) }}
{% endblock %}

{% block footer %}
    {% include "includes/footer_links.html" %}
{% endblock %}

{% block bodyEnd %}
    {% include "includes/scripts.html" %}
{% endblock %}

