{% extends "template.njk" %}

{% from "header/macro.njk" import govukHeader %}
{% from "footer/macro.njk" import govukFooter -%}

{% if title === undefined %}
    {% set title = content.title %}
{% endif %}

{% block pageTitle %}
    {{ title | safe }}{% if serviceName %}{{ ' - ' + serviceName }}{% endif %}
{% endblock %}

{% block head %}
    {% include "includes/head.html" %}
{% endblock %}
{#
{% block cookie_message %}
    <p>{{ cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
    {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
    with-proposition
{% endblock %}
#}

{% block header %}
    {{ govukHeader({
        homepageUrl: "#",
        containerClasses: "govuk-width-container",
        serviceName: 'Luca',
        serviceUrl: "#"
    }) }}
{% endblock %}

{#
{% block footer %}
    {% include "includes/footer_links.html" %}
{% endblock %}
#}

{% block bodyEnd %}
    {% include "includes/scripts.html" %}
{% endblock %}

