<script src="/public/javascripts/jquery-1.11.3.js"></script>

<script src="/public/javascripts/govuk-frontend/all.js"></script>
<script nonce="{{ nonce }}">window.GOVUKFrontend.initAll()</script>

{% if enableTracking == "true" %}
    <script nonce="{{ nonce }}">
        var gatrackingid = "{{ gaTrackingId }}";
    </script>
    <script src="/public/javascripts/ga-tracking.js"></script>
    <noscript>
        <img src="/public/images/noJS.png" width="1" height="1" alt="No JS" />
    </noscript>
{% endif %}

<script src="/public/javascripts/dropzone.js"></script>
<script nonce="{{ nonce }}">
    var documentUploadConfig = {
        csrfToken: "{{ csrfToken }}",
        validMimeTypes: "{{ documentUpload.validMimeTypes }}",
        maxFiles: "{{ documentUpload.maxFiles }}",
        maxSizeBytes: "{{ documentUpload.maxSizeBytes }}",
        timeout: "{{ documentUpload.timeout }}",
        content: {
            removeFileText: "{{ common.documentUploadRemoveFile }}",
            errorSummaryHeading: "{{ common.errorSummaryHeading }}",
            invalidFileType: "{{ common['documentUpload-invalidFileType'] }}",
            invalidFileTypeSummary: "{{ common['documentUpload-invalidFileTypeSummary'] }}",
            maxFiles: "{{ common['documentUpload-maxFiles'] }}",
            maxFilesSummary: "{{ common['documentUpload-maxFilesSummary'] }}",
            maxSize: "{{ common['documentUpload-maxSize'] }}",
            maxSizeSummary: "{{ common['documentUpload-maxSizeSummary'] }}",
            uploadFailed: "{{ common['documentUpload-uploadFailed'] }}",
            uploadFailedSummary: "{{ common['documentUpload-uploadFailedSummary'] }}",
            uploadTimeout: "{{ common['documentUpload-uploadTimeout'] }}",
            uploadTimeoutSummary: "{{ common['documentUpload-uploadTimeoutSummary'] }}"
        }
    };
</script>
<script src="/public/javascripts/document-upload.js"></script>

<!--[if lte IE 9]>
<script src="/public/javascripts/form-polyfill.js"></script>
<![endif]-->
