<script nonce="{{ globals.nonce }}" src="/public/javascripts/jquery/jquery.min.js"></script>

<script nonce="{{ globals.nonce }}" type="module" src="/public/javascripts/govuk-frontend/govuk/govuk-frontend.min.js"></script>
<script nonce="{{ globals.nonce }}" type="module">
  import { initAll } from '{{ globals.basePath }}/public/javascripts/govuk-frontend/govuk/govuk-frontend.min.js'
  initAll()
</script>

<script nonce="{{ globals.nonce }}" src="/public/javascripts/dropzone.js?v=1.0"></script>
<script nonce="{{ globals.nonce }}">
    const documentUploadConfig = {
        csrfToken: '{{ csrfToken }}',
        validMimeTypes: '{{ globals.documentUpload.validMimeTypes }}',
        maxFiles: '{{ globals.documentUpload.maxFiles }}',
        maxSizeBytes: '{{ globals.documentUpload.maxSizeBytes }}',
        timeout: '{{ globals.documentUpload.timeout }}',
        content: {
            removeFileText: '{{ common.documentUploadRemoveFile | safe }}',
            errorSummaryHeading: '{{ common.errorSummaryHeading | safe }}',
            invalidFileType: '{{ common["documentUpload-invalidFileType"] | safe }}',
            invalidFileTypeSummary: '{{ common["documentUpload-invalidFileType"] | safe }}',
            maxFiles: '{{ common["documentUpload-maxFiles"] | safe }}',
            maxFilesSummary: '{{ common["documentUpload-maxFiles"] | safe }}',
            maxSize: '{{ common["documentUpload-maxSize"] | safe }}',
            maxSizeSummary: '{{ common["documentUpload-maxSize"] | safe }}',
            uploadFailed: '{{ common["documentUpload-uploadFailed"] | safe }}',
            uploadFailedSummary: '{{ common["documentUpload-uploadFailedSummary"] | safe }}',
            uploadTimeout: '{{ common["documentUpload-uploadTimeout"] | safe }}',
            uploadTimeoutSummary: '{{ common["documentUpload-uploadTimeoutSummary"] | safe }}'
        }
    };

    document.addEventListener("DOMContentLoaded", function() {
      var saveAndCloseBtn = document.getElementById("saveAndClose");
      if (saveAndCloseBtn) {
        saveAndCloseBtn.addEventListener("click", function(e) {
          e.preventDefault();
          document.getElementById("isSaveAndClose").value = 'true';
          document.getElementById("main-form").submit();
        });
      }
    });

    document.addEventListener("DOMContentLoaded", function() {
      var keepDraftLink = document.getElementById("keepDraftLink");
      if (keepDraftLink) {
        keepDraftLink.addEventListener("click", function(e) {
          e.preventDefault();
          if (keepDraftLink.dataset.clicked === "true") {
            return;
          }
          keepDraftLink.dataset.clicked = "true";
          document.getElementById("isKeepDraft").value = 'true';
          document.getElementById("main-form").submit();
        });
      }
    });


</script>
<script nonce="{{ globals.nonce }}" src="/public/javascripts/document-upload.js?v=1.2"></script>
<script nonce="{{ globals.nonce }}" src="/public/javascripts/go-back.js?v=1.1"></script>
<!-- Dynatrace -->
<script nonce="{{ globals.nonce }}" type="text/javascript" src="{{ globals.dynatrace.dynatraceUrl }}" crossorigin="anonymous"></script>
<!-- End Dynatrace -->

