{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = content["title" + fields.inviteSuffix.value] | safe %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content[fields.header.value] | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph2 | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.heading1 }}</h2>
        <p class="govuk-body">{{ content.paragraph3 }}</p>
        <p class="govuk-body">{{ content.paragraph4 }}</p>
        <p class="govuk-body">{{ content.paragraph5 }}</p>
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.continue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
