{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "maritalStatus",
        name: "maritalStatus",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.maritalStatus.errorMessage.message } if fields.maritalStatus.errorMessage,
        items: [
            {
                value: "optionMarried",
                text: content["optionMarried"],
                checked: true if fields.maritalStatus.value == "optionMarried" | escape
            },
            {
                value: "optionDivorced",
                text: content["optionDivorced"],
                checked: true if fields.maritalStatus.value == "optionDivorced" | escape
            },
            {
                value: "optionWidowed",
                text: content["optionWidowed"],
                checked: true if fields.maritalStatus.value == "optionWidowed" | escape
            },
            {
                value: "optionNotMarried",
                text: content["optionNotMarried"],
                checked: true if fields.maritalStatus.value == "optionNotMarried" | escape
            },
            {
                value: "optionSeparated",
                text: content["optionSeparated"],
                checked: true if fields.maritalStatus.value == "optionSeparated" | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
