{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "maritalStatus",
        name: "maritalStatus",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.maritalStatus.errorMessage.message } if fields.maritalStatus.errorMessage,
        items: [
            {
                value: content["optionMarried"],
                text: content["optionMarried"],
                checked: true if fields.maritalStatus.value == content["optionMarried"] | escape
            },
            {
                value: content["optionDivorced"],
                text: content["optionDivorced"],
                checked: true if fields.maritalStatus.value == content["optionDivorced"] | escape
            },
            {
                value: content["optionWidowed"],
                text: content["optionWidowed"],
                checked: true if fields.maritalStatus.value == content["optionWidowed"] | escape
            },
            {
                value: content["optionNotMarried"],
                text: content["optionNotMarried"],
                checked: true if fields.maritalStatus.value == content["optionNotMarried"] | escape
            },
            {
                value: content["optionSeparated"],
                text: content["optionSeparated"],
                checked: true if fields.maritalStatus.value == content["optionSeparated"] | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
