{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "maritalStatus",
        name: "maritalStatus",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.maritalStatus.errorMessage | replace("{deceasedName}", fields.deceasedName.value) | safe} if fields.maritalStatus.errorMessage,
        items: [
            {
                value: "optionMarried",
                text: content["optionMarried"] | safe,
                checked: true if fields.maritalStatus.value == "optionMarried",
                hint: {
                    text: content["hintTextMarried"] | safe
                }
            },
            {
                value: "optionDivorced",
                text: content["optionDivorced"] | safe,
                checked: true if fields.maritalStatus.value == "optionDivorced"
            },
            {
                value: "optionSeparated",
                text: content["optionSeparated"] | safe,
                checked: true if fields.maritalStatus.value == "optionSeparated"
            },
            {
                value: "optionWidowed",
                text: content["optionWidowed"] | safe,
                checked: true if fields.maritalStatus.value == "optionWidowed"
            },
            {
                value: "optionNotMarried",
                text: content["optionNotMarried"] | safe,
                checked: true if fields.maritalStatus.value == "optionNotMarried"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
