{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block form_content %}

    {% set willHasVisibleDamageHtml %}

    {{ fields | dump }}

        {% set willDamageDescriptionHtml %}
            {{ govukTextarea({
                name: "otherDamageDescription",
                id: "otherDamageDescription",
                hint: {
                    text: "Describe the damage"
                },
                value: fields.willDamageTypes.value.otherDamageDescription
            }) }}
        {% endset -%}

        {{ govukCheckboxes({
            idPrefix: "willDamage",
            name: "willDamageTypes[]",
            hint: {
            text: "Select all that apply."
            },
            items: [
                {
                    value: "stapleOrPunchHoles",
                    text: "Staple or punch holes",
                    checked: fields.options.value.stapleOrPunchHoles
                },
                {
                    value: "rustMarks",
                    text: "Rust marks",
                    checked: fields.options.value.rustMarks
                },
                {
                    value: "paperClipMarks",
                    text: "Paper clip marks",
                    checked: fields.options.value.paperClipMarks
                },
                {
                    value: "tornEdges",
                    text: "Torn edges",
                    checked: fields.options.value.tornEdges
                },
                {
                    value: "waterDamage",
                    text: "Water damage",
                    checked: fields.options.value.waterDamage
                },
                {
                    value: "otherVisibleDamage",
                    text: "Other",
                    checked: fields.options.value.otherVisibleDamage,
                    conditional: {
                        html: willDamageDescriptionHtml
                    }
                }
            ]
        }) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "willHasVisibleDamage",
        name: "willHasVisibleDamage",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.willHasVisibleDamage.errorMessage | safe } if fields.willHasVisibleDamage.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.willHasVisibleDamage.value == "optionYes",
                conditional: {
                    html: willHasVisibleDamageHtml
                }
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.willHasVisibleDamage.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
