{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "left",
        name: "left",
        hint: {
            text: (content.hint + "<br><br>" + "<ul class='govuk-list govuk-list--bullet'><li>" + content.hintBullet1 + "</li><li>" + content.hintBullet2 + "</li></ul>") | replace("{willIsLegal}", globals.links.willIsLegal) | safe
        },
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.left.errorMessage | safe } if fields.left.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.left.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.left.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

{% block save_and_close %}{% endblock %}
{% block executor_summary %}{% endblock %}
