{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% set hideNavigation = true %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.pageHeader }}</h1>
    <p class="govuk-body">{{ content.legalStatementIntro | replace("{mainApplicantName}", fields.applicant.value.firstName + " " +  fields.applicant.value.lastName) | safe }}</p>
    <div class="inset-page">
        <div class="govuk-heading-m declaration-header">{{ content.highCourtHeader }}</div>
        <div class="govuk-heading-s declaration-header">{{ content.familyDivisionHeader }}</div>
        <div class="govuk-heading-s declaration-header">{{ content.probateHeader }}</div>

        <h2 class="govuk-heading-m">{{ content.legalStatementHeader | safe }}</h2>
        <p class="govuk-body">{{ fields.legalStatement.value.applicant | safe }}</p>

        <h3 class="govuk-heading-s">{{ content.deceasedHeader }}</h3>
        <p class="govuk-body">{{ fields.legalStatement.value.deceased | safe }} {{ fields.legalStatement.value.deceasedOtherNames }}</p>

        <h3 class="govuk-heading-s">{{ content.deceasedEstateHeader }}</h3>
        <p class="govuk-body">{{ fields.legalStatement.value.deceasedEstateValue | safe }}</p>
        <p class="govuk-body">{{ fields.legalStatement.value.deceasedEstateLand | safe }}</p>

        <h3 class="govuk-heading-s">{{ content.executorApplyingHeader }}</h3>
        {% for executor in fields.legalStatement.value.executorsApplying %}
            <p class="govuk-body">{{ executor.name | safe }}</p>
            <p class="govuk-body">{{ executor.sign | safe }}</p>
        {% endfor %}

        {% if fields.legalStatement.value.executorsNotApplying.length > 0 %}
            <h3 class="govuk-heading-s">{{ content.executorNotApplyingHeader }}</h3>
            {% for executor in fields.legalStatement.value.executorsNotApplying %}
                <p class="govuk-body">{{ executor | safe }}</p>
            {% endfor %}
        {% endif %}

        <h2 class="govuk-heading-l">{{ content.declarationHeader }}</h2>
        <p class="govuk-body">{{ fields.declaration.value.confirm | safe }}</p>

        {{ unorderedList([
            fields.declaration.value.confirmItem1,
            fields.declaration.value.confirmItem2,
            fields.declaration.value.confirmItem3
        ]) }}

        <p class="govuk-body">{{ fields.declaration.value.requests | safe }}</p>

        {{ unorderedList([
            fields.declaration.value.requestsItem1,
            fields.declaration.value.requestsItem2
        ]) }}

        <p class="govuk-body">{{ fields.declaration.value.understand | safe }}</p>

        {{ unorderedList([
            fields.declaration.value.understandItem1,
            fields.declaration.value.understandItem2
        ]) }}

        {{ govukWarningText({
            text: fields.declaration.value.submitWarning | safe,
            iconFallbackText: "Warning"
        }) }}
    </div>

    <h2 class="govuk-heading-m">{{ content.agreementHeader | safe }}</h2>
    <p class="govuk-body">{{ content.agreementParagraph | safe }}</p>
    {{ unorderedList([
        content.agreementItem1,
        content.agreementItem2,
        content.agreementItem3
    ]) }}

    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "agreement",
        name: "agreement",
        fieldset: {
            legend: {
                text: content.agreementHeader,
                classes: "govuk-fieldset__legend--m"
            }
        },
        errorMessage: { text: fields.agreement.errorMessage.message | safe } if fields.agreement.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"],
                checked: true if fields.agreement.value == "optionYes" | escape
            },
            {
                value: "optionNo",
                text: content["optionNo"],
                checked: true if fields.agreement.value == "optionNo" | escape
            }
        ]
    }) }}

    {{ govukInsetText({
        text: content.optionNoText | replace("{mainApplicantName}", fields.applicant.value.firstName + " " +  fields.applicant.value.lastName) | safe,
        classes: "js-hidden",
        attributes: {
            id: "agreement-2-details"
        }
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.submit,
            preventDoubleClick: true,
            attributes: {
                id: "acceptAndSend"
            }
        }) }}
    </div>
{% endblock %}

{% block save_and_close %}{% endblock %}
