{% extends "includes/two_thirds_form.html" %}

{% from "widgets/lists.html" import unorderedList %}
{% from "widgets/checkboxes.html" import checkboxes %}

{% block question %}
<h1 class="form-title heading-large">{{content.question}}</h1>
{% endblock %}

{% block form_content %}

<p>{{content.paragraph1 | safe}}</p>

{{ unorderedList([content["applicant-rights1"], content["applicant-rights2"], content["applicant-rights3"]])}}

<p>{{content['applicants-not-dealing'] | safe}}</p>
    
{{ checkboxes(
    name = 'executorsApplying[]',
    field = fields.executorsApplying,
    options = fields.options.value,
    legend = content.question
)}}

<div class="form-group">
    <input class="button" type="submit" value="{{common.continue}}">
</div>
{% endblock %}