{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        {{ unorderedList([
            content["applicant-rights1"],
            content["applicant-rights2"],
            content["applicant-rights3"]])
        }}
        <p class="govuk-body">{{ content["applicants-not-dealing"] | safe }}</p>

        {{ govukCheckboxes({
            idPrefix: "executorsApplying",
            name: "executorsApplying[]",
            errorMessage: { text: fields.executorsApplying.errorMessage.message | safe } if fields.executorsApplying.errorMessage,
            items: fields.options.value
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
