.no-link {
  pointer-events: none;
  text-decoration: none;
}

.notice {
  clear: left;

  p {
    padding-left: 50px;
  }

  strong {
    padding-left: 15px;
  }

  &.co-applicant {
    margin-top: 50px;
  }
}

.help-details {
  margin-top: 50px;
}

.help-details-summary {
  font-size: 16px;
}

.inset-page {
  border-width: em(3);
  border-style: solid;
  background-color: govuk-colour("grey-4");
  border-color: govuk-colour("grey-2");
  margin: 0 0 30px 0;
  padding: em(50);
  padding-top: em(35);
}

p.declaration-item {
  text-align: left;
}
div.declaration-header {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.declaration-wrapper {
  @include govuk-media-query($from: tablet)
  @include govuk-media-query($until: tablet) {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 3fr 1fr;
    width: calc(133% + 50px);
  }
}
div.declaration-grid-item {
  text-align: left;
}

.check-your-answers__question {
  font-weight: inherit;
  word-break: break-word;
}

.check-your-answers__answer {
  word-break: break-word;

  .check-your-answers__row {
    border-bottom: none;
  }
}

.save-this-page-link {
  margin-top: 20px;
}

.anchor-margin-left {
  margin-left: 10px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.govuk-box-highlight {
  .govuk-heading-xl,
  .govuk-\!-font-size-36 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.govuk-heading-l {
  word-break: break-word;
}

.word-wrap {
  word-wrap: break-word;
}

.word-break {
  word-break: break-word;
}

.govuk-header__content {
  nav {
    float: right;

    a {
      @include govuk-font(19, $weight: bold);
    }
  }
}
