// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/settings/all";
@import "node_modules/govuk-frontend/core/all";
@import "node_modules/govuk-frontend/objects/all";
@import "node_modules/govuk-frontend/components/button/button";
@import "node_modules/govuk-frontend/components/checkboxes/checkboxes";
@import "node_modules/govuk-frontend/components/date-input/date-input";
@import "node_modules/govuk-frontend/components/details/details";
@import "node_modules/govuk-frontend/components/error-message/error-message";
@import "node_modules/govuk-frontend/components/error-summary/error-summary";
@import "node_modules/govuk-frontend/components/fieldset/fieldset";
@import "node_modules/govuk-frontend/components/footer/footer";
@import "node_modules/govuk-frontend/components/header/header";
@import "node_modules/govuk-frontend/components/hint/hint";
@import "node_modules/govuk-frontend/components/input/input";
@import "node_modules/govuk-frontend/components/inset-text/inset-text";
@import "node_modules/govuk-frontend/components/panel/panel";
@import "node_modules/govuk-frontend/components/phase-banner/phase-banner";
@import "node_modules/govuk-frontend/components/radios/radios";
@import "node_modules/govuk-frontend/components/select/select";
@import "node_modules/govuk-frontend/components/skip-link/skip-link";
@import "node_modules/govuk-frontend/components/summary-list/summary-list";
@import "node_modules/govuk-frontend/components/table/table";
@import "node_modules/govuk-frontend/components/tag/tag";
@import "node_modules/govuk-frontend/components/textarea/textarea";
@import "node_modules/govuk-frontend/components/warning-text/warning-text";
@import "node_modules/govuk-frontend/utilities/all";
@import "node_modules/govuk-frontend/overrides/all";

@import 'patterns/header';
@import 'patterns/hint';
@import 'patterns/radios';

@import 'patterns/task-list';
@import 'patterns/check-your-answers';
@import 'patterns/document-upload';
@import 'patterns/declaration';

@import 'application-common.scss';
