#contact-us-for-help {
  margin-top: 50px;

  p {
    margin: 0;

    & + h4 {
      margin-top: 25px;
    }
  }
}

.inset-page {
  border-width: 3px;
  border-style: solid;
  background-color: govuk-colour("light-grey");
  border-color: govuk-colour("mid-grey");
  margin: 0 0 30px 0;
  padding: govuk-spacing(8);
  padding-top: govuk-spacing(7);
}

.save-this-page-link {
  margin-top: 20px;
}

.anchor-margin-left {
  margin-left: 10px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.margin-bottom100 {
  margin-bottom: 100px;
}

.govuk-box-highlight {
  .govuk-heading-xl,
  .govuk-\!-font-size-36 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.govuk-heading-l {
  word-break: break-word;
}

.word-wrap {
  word-wrap: break-word;
}

.word-break {
  word-break: break-word;
}

.find-address-button,
.executor-header {
  margin-bottom: 0;
}

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;

  &.icon-file-download {
    width: 30px;
    height: 39px;
    background-image: url("/public/images/icon-file-download.png");
  }
}

a[href^="tel"] {
  @extend %govuk-link;
}

.no-bottom-border {
  border-bottom: none;
}

.probate-section-break{
  height: 4px;
  background: #1E6FB8;
  border: none;
}

.inline-dl {
  display: inline;

  dt,
  dd {
    display: inline;
    margin-inline-start: unset;
  }

}
