// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
 .button-secondary{
   @include button($grey-3);
}

// Tasklist page start

li.task-item {
  list-style-type: decimal;
  border-top: 1px solid $grey-2;
  line-height: 1.5;
  padding: 20px 0 10px 0;
  list-style-position: inside;
  font-weight: bold;

  @media (min-width: 640px) {
    font-size: 24px;
  }

    .heading-medium {
      width: 66.6%;
      margin-top: 0;
      display: inline-table;
      float: none;

      @media (min-width: 800px) {
        display: inline-table;

      }

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 0;
        display: inline;
      }

      }

    .list-bullet{
      font-weight: normal;
    }


    .task-unavailable {
      background-color: $grey-2;
      color: $black;
      float: right;
      font-weight: bold;

      line-height: 1.25;
      padding: 3px 5px 0;

      @media (min-width: 640px) {
        font-size: 16px;
      }
      @media (max-width: 640px) {
        margin-bottom: 10px;
      }

    }
    .task-item-content {
      clear: both;

      @media (min-width: 640px) {
        font-size: 19px;
      }
    }
}
// Tasklist page end

.word-wrap {
  word-wrap: break-word;
}

.notice {
    clear: left;

    p {
      padding-left: 50px;
    }

    strong {
      padding-left: 15px;
    }

    &.co-applicant {
      margin-top: 50px;
    }
}

.inset-page {border-width: em(3);
  border-style: solid;
  background-color: #f8f8f8;
  border-color: #bfc1c3;
  margin: 0 0 30px 0;
  padding: em(50);
  padding-top: em(35);
  }

  div.declaration-header {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}