/govuk/
/node_modules/
/public/
/log/
/lib/
/.idea/
/nbproject/
.DS_Store
/output/
.sonar/
.sonarlint/
.project
/npm-debug.log*
jsconfig.json
*.tmp
coverage
*.iml
/test/end-to-end/output/**
package-lock.json
yarn-error.log
git.properties.json
/logs/
/pacts/
/mochawesome-report
/config/dev.yaml
/functional-output/
dump.rdb
.nyc_output/

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
