{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "spouseNotApplyingReason",
        name: "spouseNotApplyingReason",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.hint
        },
        errorMessage: { text: fields.spouseNotApplyingReason.errorMessage.message | safe } if fields.spouseNotApplyingReason.errorMessage,
        items: [
            {
                value: "optionRenouncing",
                text: content["optionRenouncing"] | safe,
                checked: true if fields.spouseNotApplyingReason.value == "optionRenouncing" | escape
            },
            {
                value: "optionOther",
                text: content["optionOther"],
                checked: true if fields.spouseNotApplyingReason.value == "optionOther" | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
