{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 }}</p>
        {{ unorderedList([
            content["applicant-rights1"],
            content["applicant-rights2"],
            content["applicant-rights3"]])
        }}

        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "otherExecutorsApplying",
            name: "otherExecutorsApplying",
            errorMessage: { text: fields.otherExecutorsApplying.errorMessage.message | safe } if fields.otherExecutorsApplying.errorMessage,
            items: [
                {
                    value: content["optionYes"],
                    text: content["optionYes"],
                    checked: true if fields.otherExecutorsApplying.value == content["optionYes"] | escape
                },
                {
                    value: content["optionNo"],
                    text: content["optionNo"],
                    checked: true if fields.otherExecutorsApplying.value == content["optionNo"] | escape
                }
            ]
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
