{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set answers = [] %}
{% if fields.deceasedMaritalStatus.value == "optionMarried" %}
    {% set answers = (answers.push({
        value: "optionSpousePartner",
        text: content["optionSpousePartner"] | safe,
        hint: { text: content["hintSpousePartner"] | safe },
        checked: true if fields.relationshipToDeceased.value == "optionSpousePartner"
    }), answers) %}
{% endif %}
{% set answers = (answers.push({
    value: "optionChild",
    text: content["optionChild"] | safe,
    hint: { text: content["hintChild"] | safe },
    checked: true if fields.relationshipToDeceased.value == "optionChild"
}), answers) %}
{% set answers = (answers.push({
    value: "optionGrandchild",
    text: content["optionGrandchild"] | safe,
    hint: { text: content["hintGrandchild"] | safe },
    checked: true if fields.relationshipToDeceased.value == "optionGrandchild"
}), answers) %}
{% if fields.deceasedMaritalStatus.value != "optionMarried" %}
  {% set answers = (answers.push({
      value: "optionParent",
      text: content["optionParent"] | safe,
      hint: { text: content["hintParent"] | safe },
      checked: true if fields.relationshipToDeceased.value == "optionParent"
  }), answers) %}
  {% set answers = (answers.push({
      value: "optionSibling",
      text: content["optionSibling"] | safe,
      hint: { text: content["hintSibling"] | safe },
      checked: true if fields.relationshipToDeceased.value == "optionSibling"
  }), answers) %}
{% endif %}

{% set answers = (answers.push({
    value: "optionOther",
    text: content["optionOther"] | safe,
    checked: true if fields.relationshipToDeceased.value == "optionOther"
}), answers) %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "relationshipToDeceased",
        name: "relationshipToDeceased",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.relationshipToDeceased.errorMessage | safe } if fields.relationshipToDeceased.errorMessage,
        items: answers
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
