{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.questionHintPrefix | safe }}<a href="{{globals.links.ihtChecker}}" rel="external noopener" target="_blank" class="govuk-link" aria-label="{{content.linkText}}">{{ content.linkText | safe }}</a>{{ content.questionHintSuffix | safe }}</p>

        {{ govukInput({
            label: {
                text: content.estateGrossValue | safe
            },
            hint: {
                text: content.estateGrossValueHint | safe
            },
            id: "estateGrossValueField",
            name: "estateGrossValueField",
            value: fields.estateGrossValueField.value | safe,
            errorMessage: { text: fields.estateGrossValueField.errorMessage | safe } if fields.estateGrossValueField.errorMessage,
            attributes: {
                maxlength: 13
            },
            prefix: {
                text: content.poundSymbol | safe
            },
            classes: "govuk-!-width-one-third"
        }) }}
        {{ govukInput({
            label: {
                text: content.estateNetValue | safe
            },
            hint: {
                text: content.estateNetValueHint | safe
            },
            id: "estateNetValueField",
            name: "estateNetValueField",
            value: fields.estateNetValueField.value | safe,
            errorMessage: { text: fields.estateNetValueField.errorMessage | safe } if fields.estateNetValueField.errorMessage,
            attributes: {
                maxlength: 13
            },
            prefix: {
                text: content.poundSymbol | safe
            },
            classes: "govuk-!-width-one-third"
        }) }}
        <br><br>
        {{ govukInput({
            label: {
                text: content.estateNetQualifyingValue | safe
            },
            hint: {
                text: content.estateNetQualifyingValueHint | safe
            },
            id: "estateNetQualifyingValueField",
            name: "estateNetQualifyingValueField",
            value: fields.estateNetQualifyingValueField.value | safe,
            errorMessage: { text: fields.estateNetQualifyingValueField.errorMessage | safe } if fields.estateNetQualifyingValueField.errorMessage,
            attributes: {
                maxlength: 13
            },
            prefix: {
                text: content.poundSymbol | safe
            },
            classes: "govuk-!-width-one-third"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
