{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        {{ govukInput({
            label: {
                text: content.alias
            },
            id: "alias",
            name: "alias",
            value: fields.alias.value | safe,
            errorMessage: { text: fields.alias.errorMessage.message } if fields.alias.errorMessage,
            attributes: {
                maxlength: 200
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
