{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: (content.questionWithCodicil if fields.codicilPresent.value == "true" else content.question) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraphWillCodicil if fields.codicilPresent.value == "true" else content.paragraph | safe }}</p>
        <p class="govuk-body">{{ content.paragraph2 | safe }}</p>

    {{ govukInput({
        label: {
            text: content.fullName | safe
        },
        id: "executorName",
        name: "executorName",
        value: fields.executorName.value | safe,
        errorMessage: { text: fields.executorName.errorMessage | safe } if fields.executorName.errorMessage,
        attributes: {
            maxlength: 100
        },
        classes: "govuk-!-width-three-quarters"
    }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
