{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.paragraph | safe }}</p>
        <h2 class="govuk-heading-s executor-header">{{ content.executor | safe }} 1</h2>
        <p class="govuk-body">{{ fields.applicantCurrentName.value | safe }}</p>

        {% for i in range(0, fields.executorsNumber.value -1) %}
            <h2 class="govuk-heading-s executor-header">{{ content.executor | safe }} {{ loop.index + 1 }}</h2>
            {{ govukInput({
                label: {
                    text: content.fullName | safe
                },
                id: "executorName_" + i,
                name: "executorName[" + i + "]",
                value: fields.executorName.value[i] | safe,
                errorMessage: { text: fields["executorName_" + i].errorMessage.message | safe } if fields["executorName_" + i].errorMessage,
                attributes: {
                    maxlength: 200
                },
                classes: "govuk-!-width-three-quarters"
            }) }}
        {% endfor %}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>

    <div class="govuk-form-group">
        <p class="govuk-body"><a href="/executors-number" class="govuk-link">{{ content.numberOfExecutorsPage | safe }}</a></p>
    </div>
{% endblock %}
