{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textFieldInArray %}

{% block question %}
    <h1 class="form-title heading-large">{{content.question | safe }}</h1>
{% endblock %}

{% block form_content %}
    <p>{{content.paragraph | safe}}</p>

    <h2 class="heading-small">{{content.executor | safe}} 1</h2>
    <p>{{fields.applicantCurrentName.value}}</p>
    <fieldset>
        <legend class="visually-hidden">title{{ content.title | safe }}</legend>

    {% for i in range(0, fields.executorsNumber.value -1) %}
    <label class="form-label-bold">{{content.executor | safe}} {{loop.index+1}}</label>
    {{
    textFieldInArray(
        id = 'executorName_' + i,
        name = 'executorName[' + i  + ']',
        fieldArray = fields.executorName,
        text = content.fullName,
        size = 60,
        index = i,
        errors = fields.errors
    )}}
    {% endfor %}
</fieldset>
<div class="form-group">
    <input class="button" type="submit" value="{{common.continue}}">
</div>
<div class="form-group">
    <p><a href="/executors-number">{{content.numberOfExecutorsPage | safe}}</a></p>
</div>
{% endblock %}