{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content["header" + fields.inviteSuffix.value] | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">
            {{ fields.executorsToNotifyNames.value }}
            {{ content.paragraph1 | safe }}
        </p>
        {{ govukInsetText({
            text: content.paragraph2 | safe
        }) }}

        <h2 class="govuk-heading-m">{{ content.heading1 | safe }}</h2>

        {% for executor in fields.list.value %}
            {% if executor.isApplicant !== true and executor.isApplying and executor.emailSent !== true %}
                <div class="govuk-grid-row word-wrap">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.fullName }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.email }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.mobile }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <a class="govuk-link" href="/executor-contact-details/{{ loop.index - 1 }}">{{ content.changeLink }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.sendInvites,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
