{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
    }
    }) %}

    <p class="govuk-body">{{ content.paragraph1 | replace("{deceasedName}", fields.deceasedName.value) | safe }}</p>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "sameParents",
        name: "sameParents",
        errorMessage: { text: fields.sameParents.errorMessage
            | replace("{deceasedName}", fields.deceasedName.value) | safe } if fields.sameParents.errorMessage,
        items: [
            {
                value: "optionBothParentsSame",
                text: content["optionBothParentsSame"] | safe,
                checked: true if fields.sameParents.value == "optionBothParentsSame"
            },
            {
                value: "optionOneParentsSame",
                text: content["optionOneParentsSame"] | safe,
                checked: true if fields.sameParents.value == "optionOneParentsSame"
            },
            {
                value: "optionNoParentsSame",
                text: content["optionNoParentsSame"] | safe,
                checked: true if fields.sameParents.value == "optionNoParentsSame"
            }
        ]
    }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
