{% extends "includes/layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header | safe }}</h1>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>

            <h2 class="govuk-heading-m">{{ content.subHeader | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph4a }}<a href="{{ globals.links.surveyEndOfApplication | safe }}" class="govuk-link">{{ content.paragraph4b }}</a></p>

            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
