{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}

{% block question %}
    <h1 class="form-title heading-large">{{content.question | replace('{executorFullName}', fields.list.value[fields.index.value].fullName) | safe}}</h1>
{% endblock %}
{% block form_content %}
    <fieldset>
        <legend class="visually-hidden">
            {{ content.question | safe }}
        </legend>
        {{textField(
            name = 'currentName',
            field = fields.currentName,
            text = content.currentName,
            hint = content.currentNameHint,
            size = 30
        )}}
    </fieldset>
    <div class="form-group">
        <input class="button" type="submit" value="{{common.continue}}">
    </div>
{% endblock %}
