{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | replace("{executorFullName}", fields.list.value[fields.index.value].fullName) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.currentNameHint }}</p>
        {{ govukInput({
            label: {
                text: content.currentName
            },
            id: "currentName",
            name: "currentName",
            value: fields.currentName.value | safe,
            errorMessage: { text: fields.currentName.errorMessage.message | safe } if fields.currentName.errorMessage,
            attributes: {
                maxlength: 200
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
