{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.reminder | safe }}</h1>

    <p class="govuk-body">{{ content.content1 | safe }}</p>

    <p class="govuk-body">{{ content.content2 | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ content["listItem1"] | safe  }}</li>
      <li>{{ content["listItem2"] | safe  }}</li>
      <li>{{ content["listItem3"] | safe  }}</li>
      <li>{{ content["listItem4"] | safe  }}</li>
    </ul>

    <p class="govuk-body">{{ content.content3 | safe }}</p>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "nameAsOnTheWill",
        name: "nameAsOnTheWill",
        fieldset: {
            legend: {
                text: (content.questionWithCodicil if fields.codicilPresent.value == "true" else content.question) | replace("{applicantName}", fields.firstName.value +" "+ fields.lastName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
            }
        },
        errorMessage: { text: fields.nameAsOnTheWill.errorMessage | safe } if fields.nameAsOnTheWill.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.nameAsOnTheWill.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.nameAsOnTheWill.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
