{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./includes/estate.html" import estate %}
{% from "./includes/lists.html" import lists %}
{% from "./includes/download.html" import download %}

{% block form_content %}
    {% if fields.bilingual.value === "true" %}
        <h1 class="govuk-heading-l">{{ content.cy.title }}</h1>
        <p class="govuk-body word-break">{{ fields.legalStatement.value.cy.intro | safe }}</p>
        {% ifAsync fields.caseType.value === globals.caseTypes.gop %}
            <div class="declaration-wrapper word-break margin-bottom100">
                <div class="inset-page declaration-grid-item">
                    <div class="declaration-header">
                        <div class="govuk-heading-m declaration-header-item">{{ content.cy.highCourtHeader }}</div>
                        <div class="govuk-heading-s declaration-header-item">{{ content.cy.familyDivisionHeader }}</div>
                        <div class="govuk-heading-s declaration-header-item">{{ content.cy.probateHeader }}</div>
                    </div>

                    <h2 class="govuk-heading-m declaration-subheader">{{ content.cy.legalStatementHeader }}</h2>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.applicant | safe }}</p>

                    <h3 class="govuk-heading-s declaration-subheader">{{ content.cy.deceasedHeader }}</h3>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.deceased | safe }} {{ fields.legalStatement.value.cy.deceasedOtherNames }}</p>

                    {{ estate(content.cy, fields.legalStatement.value.cy) }}

                    <h3 class="govuk-heading-s declaration-subheader">{{ content.cy.executorApplyingHeader }}</h3>
                    {% for executor in fields.legalStatement.value.cy.executorsApplying %}
                        <p class="govuk-body declaration-item">{{ executor.name | safe }}</p>
                        {% if executor.sign !== "" %}
                            <p class="govuk-body declaration-item">{{ executor.sign | safe }}</p>
                        {% endif %}
                    {% endfor %}

                    {% if fields.legalStatement.value.cy.executorsNotApplying.length > 0 %}
                        <h3 class="govuk-heading-s declaration-subheader">{{ content.cy.executorNotApplyingHeader }}</h3>
                        {% for executor in fields.legalStatement.value.cy.executorsNotApplying %}
                            <p class="govuk-body declaration-item">{{ executor | safe }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ lists(content.cy, fields.declaration.value.cy) }}
                </div>
                {{ download(content.cy) }}
            </div>
        {% endif %}

        {% ifAsync fields.caseType.value === globals.caseTypes.intestacy %}
            <div class="declaration-wrapper word-break margin-bottom100">
                <div class="inset-page declaration-grid-item">
                    <div class="declaration-header">
                        <div class="govuk-heading-m declaration-header-item">{{ content.cy.highCourtHeader }}</div>
                        <div class="govuk-heading-s declaration-header-item">{{ content.cy.familyDivisionHeader }}</div>
                        <div class="govuk-heading-s declaration-header-item">{{ content.cy.intestacyHeader }}</div>
                    </div>

                    <h2 class="govuk-heading-m declaration-subheader">{{ content.cy.legalStatementHeader }}</h2>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.applicant | safe }}</p>

                    <h3 class="govuk-heading-s declaration-subheader">{{ content.cy.deceasedHeader }}</h3>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.deceased | safe }} {{ fields.legalStatement.value.cy.deceasedOtherNames }}</p>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.deceasedMaritalStatus }}</p>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.deceasedChildren }}</p>

                    {{ estate(content.cy, fields.legalStatement.value.cy) }}

                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.applicant2 | safe }}</p>
                    <p class="govuk-body declaration-item">{{ fields.legalStatement.value.cy.applying | safe }}</p>

                    {{ lists(content.cy, fields.declaration.value.cy) }}
                </div>
                {{ download(content.cy) }}
            </div>
        {% endif %}
 {% endif %}

    <h1 class="govuk-heading-l">{{ content.en.title }}</h1>
    <p class="govuk-body word-break">{{ fields.legalStatement.value.en.intro | safe }}</p>
    {% ifAsync fields.caseType.value === globals.caseTypes.gop %}
        <div class="declaration-wrapper word-break">
            <div class="inset-page declaration-grid-item">
                <div class="declaration-header">
                    <div class="govuk-heading-m declaration-header-item">{{ content.en.highCourtHeader }}</div>
                    <div class="govuk-heading-s declaration-header-item">{{ content.en.familyDivisionHeader }}</div>
                    <div class="govuk-heading-s declaration-header-item">{{ content.en.probateHeader }}</div>
                </div>

                <h2 class="govuk-heading-m declaration-subheader">{{ content.en.legalStatementHeader }}</h2>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.applicant | safe }}</p>

                <h3 class="govuk-heading-s declaration-subheader">{{ content.en.deceasedHeader }}</h3>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.deceased | safe }} {{ fields.legalStatement.value.en.deceasedOtherNames }}</p>

                {{ estate(content.en, fields.legalStatement.value.en) }}

                <h3 class="govuk-heading-s declaration-subheader">{{ content.en.executorApplyingHeader }}</h3>
                {% for executor in fields.legalStatement.value.en.executorsApplying %}
                    <p class="govuk-body declaration-item">{{ executor.name | safe }}</p>
                    {% if executor.sign !== "" %}
                        <p class="govuk-body declaration-item">{{ executor.sign | safe }}</p>
                    {% endif %}
                {% endfor %}

                {% if fields.legalStatement.value.en.executorsNotApplying.length > 0 %}
                    <h3 class="govuk-heading-s declaration-subheader">{{ content.en.executorNotApplyingHeader }}</h3>
                    {% for executor in fields.legalStatement.value.en.executorsNotApplying %}
                        <p class="govuk-body declaration-item">{{ executor | safe }}</p>
                    {% endfor %}
                {% endif %}

                {{ lists(content.en, fields.declaration.value.en) }}
            </div>
            {{ download(content.en) }}
        </div>
    {% endif %}

    {% ifAsync fields.caseType.value === globals.caseTypes.intestacy %}
        <div class="declaration-wrapper word-break">
            <div class="inset-page declaration-grid-item">
                <div class="declaration-header">
                    <div class="govuk-heading-m declaration-header-item">{{ content.en.highCourtHeader }}</div>
                    <div class="govuk-heading-s declaration-header-item">{{ content.en.familyDivisionHeader }}</div>
                    <div class="govuk-heading-s declaration-header-item">{{ content.en.intestacyHeader }}</div>
                </div>

                <h2 class="govuk-heading-m declaration-subheader">{{ content.en.legalStatementHeader }}</h2>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.applicant | safe }}</p>

                <h3 class="govuk-heading-s declaration-subheader">{{ content.en.deceasedHeader }}</h3>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.deceased | safe }} {{ fields.legalStatement.value.en.deceasedOtherNames }}</p>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.deceasedMaritalStatus }}</p>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.deceasedChildren }}</p>

                {{ estate(content.en, fields.legalStatement.value.en) }}

                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.applicant2 | safe }}</p>
                <p class="govuk-body declaration-item">{{ fields.legalStatement.value.en.applying | safe }}</p>

                {{ lists(content.en, fields.declaration.value.en) }}
            </div>
            {{ download(content.en) }}
        </div>
    {% endif %}

    {{ govukCheckboxes({
        idPrefix: "declarationCheckbox",
        name: "declarationCheckbox",
        fieldset: {
            legend: {
                text: content[fields.language.value].title | safe,
                classes: "govuk-visually-hidden"
            }
        },
        errorMessage: { text: fields.declarationCheckbox.errorMessage.message } if fields.declarationCheckbox.errorMessage,
        items: [
            {
                value: true,
                text: fields.declaration.value[fields.language.value].accept | safe
            }
        ]
    }) }}

    {{ govukWarningText({
        text: fields.declaration.value[fields.language.value].submitWarning | safe,
        iconFallbackText: content[fields.language.value].warning
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
