{% extends "includes/two_thirds_form.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        {{ govukInput({
            label: {
                text: content.numberOfUpdates
            },
            id: "codicilsNumber",
            name: "codicilsNumber",
            value: fields.codicilsNumber.value | safe,
            errorMessage: fields.codicilsNumber.errorMessage,
            attributes: {
                maxlength: 5
            },
            classes: "govuk-input--width-3",
            type: "number"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
