{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        {% if fields.isFeesApiToggleEnabled.value === "true" %}
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            {{ unorderedList([
                content.bullet1,
                content.bullet2
            ]) }}
        {% else %}
            <p class="govuk-body">{{ content.paragraph1Old | safe }}</p>
        {% endif %}

        {{ govukInput({
            label: {
                text: (content.copies if fields.isFeesApiToggleEnabled.value == "true" else content.copiesOld) | safe
            },
            id: "overseas",
            name: "overseas",
            value: fields.overseas.value | safe,
            errorMessage: { text: fields.overseas.errorMessage.message | safe } if fields.overseas.errorMessage,
            attributes: {
                maxlength: 5
            },
            classes: "govuk-input--width-3",
            type: "number"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
