{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        {{ govukInsetText({
            text: content.paragraph2 | safe
        }) }}

        <h2 class="govuk-heading-m">{{ content.heading1 | safe }}</h2>
        <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph4 | safe }}</p>

        <h2 class="govuk-heading-m">{{ content.heading2 | safe }}</h2>
        <p class="govuk-body">{{ content.paragraph5 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph6 | safe }}</p>

        <h2 class="govuk-heading-m">{{ content["heading3" + fields.inviteSuffix.value] | safe }}</h2>
        {% for executor in fields.list.value %}
            {% if executor.isApplicant !== true and executor.isApplying %}
                <div class="govuk-grid-row word-wrap">
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.fullName | safe }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.email | safe }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">{{ executor.mobile | safe }}</p>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <p class="govuk-body">
                            <a href="/executor-contact-details/{{ loop.index - 1 }}" class="govuk-link">{{ content.changeLink | safe }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.sendInvites | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
