{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}

{% set conditionalIHT400 %}
<p class="govuk-body">{{ content.optionIHT400Conditional | safe }}</p>
{% endset -%}

{% set conditionalIHT400421 %}
<p class="govuk-body">{{ content.optionIHT400421Conditional | safe }}</p>
{% endset -%}

{{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "ihtFormId",
        name: "ihtFormId",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.ihtFormId.errorMessage | safe } if fields.ihtFormId.errorMessage,
        items: [
            {
              value: "optionIHT205",
              text: content["optionIHT205"] | safe,
              checked: true if fields.ihtFormId.value == "optionIHT205"
            },
            {
              value: "optionIHT400",
              text: content["optionIHT400"] | safe,
              conditional: {
              html: conditionalIHT400
              },
              checked: true if fields.ihtFormId.value == "optionIHT400"
            },
            {
                value: "optionIHT400421",
                text: content["optionIHT400421"] | safe,
                conditional: {
                html: conditionalIHT400421
                },
                checked: true if fields.ihtFormId.value == "optionIHT400421"
            }
        ]
    }) }}
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
