{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}

{{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "ihtFormId",
        name: "ihtFormId",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.ihtFormId.errorMessage | safe } if fields.ihtFormId.errorMessage,
        items: [
            {
            value: "optionIHT400",
            text: content["optionIHT400"] | safe,
            checked: true if fields.ihtFormId.value == "optionIHT400"
            },
            {
              value: "optionIHT205",
              text: content["optionIHT205"] | safe,
              checked: true if fields.ihtFormId.value == "optionIHT205"
            }
        ]
    }) }}
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
