{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block form_content %}

    {% set nameHtml %}
        {{ govukInput({
            name: "firstName",
            id: "firstName",
            label: {
                text: content["firstName"] | safe,
                classes: "govuk-visually-hidden"
            },
            hint: {
                text: content["firstName"] | safe
            },
            value: fields.codicilsDamageCulpritName.value.firstName
        }) }}
        {{ govukInput({
            name: "lastName",
            id: "lastName",
            label: {
                text: content["lastName"] | safe,
                classes: "govuk-visually-hidden"

            },
            hint: {
                text: content["lastName"] | safe
            },
            value: fields.codicilsDamageCulpritName.value.lastName
        }) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "codicilsDamageCulpritKnown",
        name: "codicilsDamageCulpritKnown",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.codicilsDamageCulpritKnown.errorMessage | safe } if fields.codicilsDamageCulpritKnown.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.codicilsDamageCulpritKnown.value == "optionYes",
                conditional: {
                    html: nameHtml
                }
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.codicilsDamageCulpritKnown.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
