{% extends "includes/two_thirds_form.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% block form_content %}
    {% set otherHtml %}
        {{ govukInput({
            label: {
                text: content.optionOtherHint | safe
            },
            id: "otherReason",
            name: "otherReason",
            classes: "govuk-!-width-one-half",
            value: fields.otherReason.value | safe,
            errorMessage: fields.otherReason.errorMessage,
            attributes: {
                maxlength: 50
            }
        }) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "aliasReason",
        name: "aliasReason",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: fields.aliasReason.errorMessage,
        items: [
            {
                value: content["optionMarriage"],
                text: content["optionMarriage"] | safe,
                checked: true if fields.aliasReason.value == content["optionMarriage"] | escape
            },
            {
                value: content["optionDivorce"],
                text: content["optionDivorce"] | safe,
                checked: true if fields.aliasReason.value == content["optionDivorce"] | escape
            },
            {
                value: content["optionDeedPoll"],
                text: content["optionDeedPoll"] | safe,
                checked: true if fields.aliasReason.value == content["optionDeedPoll"] | escape
            },
            {
                value: content["optionOther"],
                text: content["optionOther"] | safe,
                checked: true if fields.aliasReason.value == content["optionOther"] | escape,
                conditional: {
                    html: otherHtml
                }
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
