/*
Document Upload
*/

.document-upload__dropzone {
  margin-bottom: govuk-spacing(9);
}

.document-upload__dropzone--javascript {
  border: 2px dashed govuk-colour("dark-grey");
  overflow: hidden;
  padding: 30px;
}

.document-upload__image {
  display: none;
}

.document-upload__image--javascript {
  display: block;
  float: left;
  margin-left: 100px;
  width: 90px;
}

.document-upload__text {
  display: none;
}

.document-upload__text--javascript {
  display: block;
  float: left;
  padding-top: 4px;
}

.document-upload__dropzone-text {
  margin: 0 0 0 50px;
}

.document-upload__dropzone-text--choose-file {
  color: govuk-colour("blue");
  cursor: pointer;
  text-decoration: underline;
}

.document-upload__dropzone-text--choose-file:hover {
  color: govuk-colour("light-blue");
}

.document-upload__preview {
  margin-bottom: 20px;
}

.document-upload__empty-list-text{
  border-top: 1px solid govuk-colour("mid-grey");
  border-bottom: 1px solid govuk-colour("mid-grey");
  padding: 10px 0 10px 0;
}

.cant-upload-documents {
  margin-bottom: 40px;
}

.dz-preview {
  border-bottom: 1px solid govuk-colour("mid-grey");
  padding: 10px 0;
  position: relative;

  &:first-of-type {
    padding-top: 0;
  }
}

.dz-details,
.dz-error-message {
  width: 80%;
}

.dz-remove {
  position: absolute;
  right: 0;
  top: 10px;
}

.dz-preview:first-of-type .dz-remove {
  top: 0;
}

.dz-error {
  border-left: 5px solid govuk-colour("red");
  padding-left: 15px;

  .dz-error-message {
    margin-bottom: 5px;
  }

  .dz-progress {
    display: none;
  }
}

.dz-error-message {
  @include govuk-font(19, $weight: bold);
  color: govuk-colour("red");
}

.dz-processing [data-dz-uploadprogress] {
  background-color: govuk-colour("blue");
  display: block;
  height: 5px;
  margin-top: 8px;
}

.dz-complete .dz-progress {
  display: none;
}
