/*
Task List
*/

.task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: govuk-spacing(8);

  .govuk-button {
    margin-bottom: 0;
  }

  .govuk-tag {
    margin-bottom: govuk-spacing(3);
    margin-left: govuk-spacing(5);
    margin-right: 0;

    @include govuk-media-query($from: desktop) {
      float: right;
      margin-left: 0;
      padding-top: 3px;
    }

    &.task-completed {
    }

    &.task-unavailable {
      background-color: govuk-colour("mid-grey");
      color: govuk-colour("black");
    }
  }
}

.task-item {
  border-top: 1px solid govuk-colour("mid-grey");
  line-height: 1.5;
  padding: 10px 0 10px 0;

  &:last-child {
    border-bottom: 1px solid govuk-colour("mid-grey");
  }
}

.task-list-section {
  @include govuk-font(24, $weight: bold);
  display: table;
  float: left;
  margin-bottom: govuk-spacing(3);
  margin-top: 0;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    width: 64%;
  }
}

.task-list-section-number {
  width: govuk-spacing(1);
  padding-right: 0;
  display: table-cell;

  @include govuk-media-query($from: desktop) {
    width: govuk-spacing(2);
  }
}

.task-list-items {
  clear: both;
  padding-left: govuk-spacing(5);

  @include govuk-media-query($from: desktop) {
    padding-left: govuk-spacing(8);
  }

  .hmcts-section-break {
    background: #b1b4b6;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .probate-body {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
  }
  @media print {
    .probate-body {
      color: #000000;
      font-family: sans-serif;
    }
  }

  @media (min-width: 40.0625em) {
    .probate-body {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
      margin-bottom: 10px;
    }
  }
  @media print {
    .probate-body {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
}
