{% extends "includes/two_thirds_form.html" %}

{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block page_title %}
    {{ fields.title.value }}
{% endblock %}

{% block error_summary %}
    {% if errors %}
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                {{ common.errorSummaryHeading | replace('{legalProcess}', fields.legalProcess.value) | safe }}
            </h2>
            <ul class="error-summary-list">
                {% for error in errors %}
                    <li><a href="#{{ error.param }}">{{ error.msg.summary | replace('{legalProcess}', fields.legalProcess.value) | safe}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.question | replace('{legalProcess}', fields.legalProcess.value) | safe }}</h1>
{% endblock %}

{% block form_content %}
    {{ optionsRadio(content,
        name = 'divorcePlace',
        field = fields.divorcePlace,
        options = ['optionYes', 'optionNo'],
        legend = content.legend | replace('{legalProcess}', fields.legalProcess.value),
        inline = true
    ) }}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
