{% extends "includes/two_thirds_form.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukDateInput({
        id: "dod",
        namePrefix: "dod",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.questionHint
        },
        errorMessage: fields["dod-date"].errorObject or fields["dod-day"].errorObject or fields["dod-month"].errorObject or fields["dod-year"].errorObject,
        items: [
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dod-day"].error or fields["dod-date"].error),
                name: "day",
                value: fields['dod-day'].value
            },
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dod-day"].error or fields["dod-date"].error),
                name: "month",
                value: fields['dod-month'].value
            },
            {
                classes: "govuk-input--width-4" + (" govuk-input--error" if fields["dod-day"].error or fields["dod-date"].error),
                name: "year",
                value: fields['dod-year'].value
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue
        }) }}
    </div>
{% endblock %}
