{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set errorFields = [
    "dod-date",
    "dod-day",
    "dod-month",
    "dod-year",
    "dod-day-month",
    "dod-month-year",
    "dod-day-year"
    ] %}
    {% if errors %}
        {% set errorMessages = [] %}
        {% for field in errorFields %}
            {% if fields[field].errorMessage %}
                {% set errorMessages = errorMessages.concat([fields[field].errorMessage | replace("{deceasedName}", fields.deceasedName.value) | safe]) %}
            {% endif %}
        {% endfor %}
        {% set inlineErrors = {
            text: errorMessages | join("<br>") | safe
        } %}
    {% endif %}

    {{ govukDateInput({
        id: "dod-date",
        namePrefix: "dod",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.questionHint | safe
        },
        errorMessage: inlineErrors,
        items: [
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dod-day"].error or fields["dod-date"].error
                    or fields["dod-day-month"].error or fields["dod-day-year"].error),
                name: "day",
                label: content["dayName"] | safe,
                value: fields["dod-day"].value
            },
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dod-month"].error or fields["dod-date"].error
                    or fields["dod-day-month"].error or fields["dod-month-year"].error),
                name: "month",
                label: content["monthName"] | safe,
                value: fields["dod-month"].value
            },
            {
                classes: "govuk-input--width-4" + (" govuk-input--error" if fields["dod-year"].error or fields["dod-date"].error
                    or fields["dod-day-year"].error or fields["dod-month-year"].error),
                name: "year",
                label: content["yearName"] | safe,
                value: fields["dod-year"].value
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
