{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% if errors and errors.length > 0 %}
      <p class="govuk-hint govuk-form-group--error" style="font-size: 24px; margin-bottom: 0;">{{ content.eligibilityTitle | safe }}</p>
    {% else %}
      <p class="govuk-hint" style="font-size: 24px; margin-bottom: 0;">{{ content.eligibilityTitle | safe }}</p>
    {% endif %}
    {{ govukRadios({
        idPrefix: "related",
        name: "related",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.related.errorMessage | safe } if fields.related.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionPartner"] | safe,
                hint: {
                    text: content["hintTextPartner"] | safe
                }
            },
            {
                value: "optionYes",
                text: content["optionChild"] | safe,
                hint: {
                    text: content["hintTextChild"] | safe
                }
            },
            {
                value: "optionYes",
                text: content["optionGrandchild"] | safe,
                hint: {
                    text: content["hintTextGrandchild"] | safe
                }
            },
            {
                value: "optionYes",
                text: content["optionParent"] | safe,
                hint: {
                    text: content["hintTextParent"] | safe
                }
            },
            {
                value: "optionYes",
                text: content["optionSibling"] | safe,
                hint: {
                    text: content["hintTextSibling"] | safe
                }
            },
            {
                divider: "or"
            },
            {
                value: "optionNo",
                text: content["optionNone"] | safe
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

{% block save_and_close %}{% endblock %}
{% block executor_summary %}{% endblock %}
