{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form_content %}
{% call govukFieldset({
legend: {
text: content.header | safe,
isPageHeading: true,
classes: "govuk-fieldset__legend--l"
}
}) %}

<p class="govuk-body">{{ content.paragraph1 | safe }}</p>

{{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "estateValueCompleted",
    name: "estateValueCompleted",
    errorMessage: { text: fields.estateValueCompleted.errorMessage | safe } if fields.estateValueCompleted.errorMessage,
    items: [
        {
            value: "optionYes",
            text: content["optionYes"] | safe,
            checked: true if fields.estateValueCompleted.value == "optionYes"
        },
        {
            value: "optionNo",
            text: content["optionNo"] | safe,
            checked: true if fields.estateValueCompleted.value == "optionNo"
        }
    ]
}) }}
{% endcall %}
<div class="govuk-form-group">
  {{ govukButton({
  text: common.saveAndContinue | safe,
  preventDoubleClick: true
  }) }}
</div>
{% endblock %}
