{% extends "includes/two_thirds_form.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "alias",
        name: "alias",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.paragraph1 | safe
        },
        errorMessage: fields.alias.errorMessage,
        items: [
            {
                value: content["optionYes"],
                text: content["optionYes"] | safe,
                checked: true if fields.alias.value == content["optionYes"] | escape
            },
            {
                value: content["optionNo"],
                text: content["optionNo"] | safe,
                checked: true if fields.alias.value == content["optionNo"] | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
