{% extends "includes/layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "widgets/checkanswer.njk" import checkanswer %}

{% block content %}
    <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ content.header | safe }}</h1>
      <dl class="govuk-summary-list">
        {{ checkanswer(
          items = [
              {
                  question: '<strong>'+content.subheader1+'</strong>',
                  answer: fields.citizenResponse.value,
                  visible: true
              }],
              url = '/provide-information',
              common = common,
              alreadyDeclared = "false"
        ) }}
        {% if (fields.uploadedDocuments.value != undefined or fields.uploadedDocuments.value.length > 0) %}
          {{checkanswer(
            items = [
                {
                    question: '<strong>'+content.subheader2+'</strong>',
                    answer: fields.uploadedDocuments.value,
                    visible: true
                }
                ],
                url = '/provide-information',
                common = common,
                alreadyDeclared = "false"
          )}}
        {% endif %}
        {% if (fields.documentUploadIssue.value) %}
        {{checkanswer(
            items = [
            {
                question: '<strong></strong>',
                answer: content.documentUploadIssue,
                visible: true
            }
            ],
            url = '/provide-information',
            common = common,
            alreadyDeclared = "false"
        )}}
        {% endif %}
      </dl>
      <div class="govuk-grid-column-two-thirds" style="padding-left: 0px;">
          <h1 class="govuk-notification-banner__heading"  ><strong>{{ content.subheader3 | safe }} </strong></h1>
          <p class="govuk-body">{{ content.paragraph1 | safe }}&nbsp;<a class="govuk-link" href="https://www.gov.uk/applying-for-probate" target="_blank">{{ content.readMoreLink | safe }}</a></p>
          <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
          {{ govukCheckboxes({
            idPrefix: "citizenResponseCheckbox",
            name: "citizenResponseCheckbox",
            errorMessage: { text: fields.citizenResponseCheckbox.errorMessage | safe } if fields.citizenResponseCheckbox.errorMessage,
            items: [
              {
                value: true,
                text: content.declarationCheckbox | safe
              }
            ]
          }) }}
          <div class="govuk-form-group">
            {{ govukButton({
            text: common.submitOnly | safe,
            preventDoubleClick: true
            }) }}
          </div>
      </div>
    </div>
{% endblock %}

