<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <title>{{ content.title +  " - " + serviceName | safe}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/public/stylesheets/application.css?v=7.0" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    {% include "includes/scripts.html" %}
    <web-chat
        id="avayaWebchat"
        class="govuk-body"
        chat-icon-url="public/images/icon.png"
        locale-url="public/locales/avaya-webchat/en-{{fields.language.value}}"
        url="{{ globals.webchat.avayaUrl }}"
        secure-connections="true"
        api-version="1.0"
        metrics-polling-interval="30"
        {% if fields.language.value ==='cy' %}
          Language="Welsh"
          page-name="Gwneud cais am Brofiant"
          chat-title="Holi Profiant"
        {% endif %}
        {% if fields.language.value ==='en' %}
          Language="English"
          page-name="Apply for Probate"
          chat-title="Ask Probate"
        {% endif %}
        Service="{{ globals.webchat.avayaService }}"
        User="Chat">
    </web-chat>
</body>
</html>
