{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "completed",
        name: "completed",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.hintText
        },
        errorMessage: { text: fields.completed.errorMessage.message | safe } if fields.completed.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"],
                checked: true if fields.completed.value == "optionYes" | escape
            },
            {
                value: "optionNo",
                text: content["optionNo"],
                checked: true if fields.completed.value == "optionNo" | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

{% block save_and_close %}{% endblock %}
{% block executor_summary %}{% endblock %}
