{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set otherHtml %}
        {{ govukInput({
            label: {
                text: content.optionOtherHint
            },
            id: "otherReason",
            name: "otherReason",
            classes: "govuk-!-width-one-half",
            value: fields.otherReason.value | safe,
            errorMessage: { text: fields.otherReason.errorMessage.message } if fields.otherReason.errorMessage,
            attributes: {
                maxlength: 50
            }
        }) }}
    {% endset -%}

    {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "currentNameReason",
        name: "currentNameReason",
        fieldset: {
            legend: {
                text: content.question | replace("{executorName}", fields.otherExecName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.currentNameReason.errorMessage.message } if fields.currentNameReason.errorMessage,
        items: [
            {
                value: "optionMarriage",
                text: content["optionMarriage"],
                checked: true if fields.currentNameReason.value == "optionMarriage"
            },
            {
                value: "optionDivorce",
                text: content["optionDivorce"],
                checked: true if fields.currentNameReason.value == "optionDivorce"
            },
            {
                value: "optionDeedPoll",
                text: content["optionDeedPoll"],
                checked: true if fields.currentNameReason.value == "optionDeedPoll"
            },
            {
                value: "optionOther",
                text: content["optionOther"],
                checked: true if fields.currentNameReason.value == "optionOther",
                conditional: {
                    html: otherHtml
                }
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
