{% extends "includes/layout.html" %}

{% set tempContent = content[fields.stopReason.value] %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content[fields.stoppageHeader.value] | safe }}</h1>

            {% for placeholder in fields.linkPlaceholders.value %}
                {% set tempContent = tempContent | replace("{" + placeholder + "}", globals.links[placeholder]) %}
            {% endfor %}

            <p class="govuk-body">{{ tempContent | safe }}</p>

            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
