{% extends "includes/layout.html" %}

{% block page_title %}
    {{ content.title}}
{% endblock %}

{% block content %}

    <main id="content" role="main">

        {% include "includes/phase_banner_beta.html" %}

        <h1 class="form-title heading-large">{{content.header | safe}}</h1>

        <p>{{content[fields.stopReason.value] | replace('{'+ fields.stopReason.value +'}', links[fields.stopReason.value]) | safe}}</p>

        <p>{{content.contactProbateOffice | safe}}</p>

    </main>

{% endblock %}
