{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import orderedList %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block page_content %}
        {% set troubleUploadCheckHintHtml %}
          <p class="govuk-body">{{ content.troubleUploadCheckHint | safe }}</p>
        {% endset -%}

        {% call govukFieldset({
        legend: {
          text: content.header | safe,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
        }) %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        <h1 class="govuk-body"><strong>{{ content.subheader1 | safe }} </strong></h1>
        <p class="govuk-body">{{ content.paragraph2 | safe }}</p>

        {{govukTextarea({
          name: "responseText",
          id: "responseText",
          value: fields.responseText.value
        }) }}

        <h1 class="govuk-body"><strong>{{ content.subheader2 | safe }} </strong></h1>
        <p class="govuk-body">{{ content.paragraph3 | safe }}</p>

        {{ govukInsetText({
            text: ("<p class=\"govuk-body\">" + content.help1 + "</p>") | safe
        }) }}
        <p class="govuk-body">{{ content.paragraph4 | safe }}<br/>{{ content.paragraph5 | safe }}</p>
        {% include "includes/document-upload.html" %}

        {{ govukCheckboxes({
            idPrefix: "troubleUploadCheckbox",
            name: "troubleUploadCheckbox",
            items: [
                {
                  value: true,
                  text: content.troubleUploadCheckbox | safe,
                  conditional: {
                    html: troubleUploadCheckHintHtml
                  }
                }
            ]
        }) }}

    {% endcall %}
{% endblock %}

{% block form_content %}
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
