{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set relationship = fields.relationshipToDeceased.value %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "adoptedIn",
        name: "adoptedIn",
        fieldset: {
            legend: {
                text: (content.childQuestion if relationship == "optionChild" else content.grandchildQuestion)
                    | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.adoptedIn.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.adoptedIn.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
