{% extends "includes/layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" style="margin-bottom: 10px!important;">{{ content.header | safe }} - {{ fields.deceasedName.value }}</h1>
    <h2 class="govuk-body"><strong>{{ content.referenceNumber | safe }}: {{ fields.ccdReferenceNumber.value }} </strong></h2>
    <div class="govuk-grid-column-two-thirds" style="padding-left: 0px;">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break">
      <br>
      <div class="hmcts-progress-bar-vertical" aria-label="{{ content.applicationProgressBar | safe }}">
        <ol class="hmcts-progress-bar__list" aria-label="{{ content.applicationProgressBarListItems | safe }}">
          <li class="hmcts-progress-bar__list-item">
            <span  class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            <span class="govuk-visually-hidden">{{content.progressBarStep1Done | safe }}</span>
            <span  class="hmcts-progress-bar__label" aria-hidden="true">
              {{content.progressBarStep1 | safe }}
            </span>
          </li>
          {% if fields.documentsRequired.value == "true" %}
          <li class="hmcts-progress-bar__list-item">
            {% if fields.documentsReceived.value == "true" %}
              {% set aria_content = content.progressBarStep2Done %}
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            {% else %}
              {% set aria_content = content.progressBarStep2NotDone %}
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--inprogress"></span>
            {% endif %}
            {% if fields.applicationInReview.value != "true" and fields.grantIssued.value != "true"%}
              <span class="govuk-visually-hidden">{{aria_content | safe}}</span>
              <span class="hmcts-progress-bar__label  hmcts-progress-bar__label--inprogress" aria-hidden="true">
                {{ content.progressBarStep2 | safe }}
              </span>
            {% else %}
              <span class="govuk-visually-hidden">{{aria_content | safe}}</span>
              <span class="hmcts-progress-bar__label" aria-hidden="true">
                {{ content.progressBarStep2 | safe }}
              </span>
            {% endif %}
          </li>
          {% endif %}
          <li class="hmcts-progress-bar__list-item" style="width:120px">
            {% if fields.grantIssued.value == "true" %}
              {% set aria_content = content.progressBarStep3Reviewed %}
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            {% elseif fields.caseClosed.value == "true" %}
              {% set aria_content = content.progressBarStep3NotDone %}
              <span class="hmcts-progress-bar__icon"></span>
            {% elseif fields.applicationInReview.value == "true" or fields.documentsRequired.value != "true"%}
              {% set aria_content = content.progressBarStep3Done %}
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--inprogress"></span>
            {% else %}
              {% set aria_content = content.progressBarStep3NotDone %}
              <span class="hmcts-progress-bar__icon"></span>
            {% endif %}
              <span class="govuk-visually-hidden">{{aria_content | safe}}</span>
            {% if (fields.applicationInReview.value == "true" and fields.grantIssued.value != "true" and fields.caseClosed.value != "true") or fields.documentsRequired.value != "true"%}
              <span class="hmcts-progress-bar__label  hmcts-progress-bar__label--inprogress" aria-hidden="true">
                {{ content.progressBarStep3 | safe }}
              </span>
            {% else %}
              <span class="hmcts-progress-bar__label" aria-hidden="true">
                {{ content.progressBarStep3 | safe }}
              </span>
            {% endif %}
          </li>
          <li class="hmcts-progress-bar__list-item">
            {% if fields.grantIssued.value == "true" %}
              {% set aria_content = content.progressBarStep4Done %}
              <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
            {% else %}
              {% set aria_content = content.progressBarStep4NotDone %}
             <span class="hmcts-progress-bar__icon"></span>
            {% endif %}
              <span class="govuk-visually-hidden">{{aria_content | safe}}</span>
              <span class="hmcts-progress-bar__label" aria-hidden="true">
                {{content.progressBarStep4 | safe }}
              </span>
          </li>
        </ol>
      </div>
      <br><br>

      <div class="govuk-body govuk-!-static-padding-4 govuk-!-text-align-left" style="background-color: #f3f2f1;">
        {% if fields.grantIssued.value == "true" %}
          <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.grantIssuedHeading | safe }}</h2>
          <p class="govuk-body" style="max-width: 600px">{{ content.grantIssuedParagraph1 | safe }}</p>
          <p class="govuk-body" style="max-width: 600px">{{ content.grantIssuedParagraph2 | safe }}</p>
        {% elseif fields.applicationInReview.value == "true" %}
          {% if fields.informationProvided.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.informationProvidedHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.informationProvidedParagraph1 | replace("{date}", fields.date.value) | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.informationProvidedParagraph2 | safe }}</p>
          {% elseif fields.partialInformationProvided.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.informationProvidedHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph1 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph2 | safe }}</p>
            <h3 class="govuk-heading-s" style="max-width: 600px">{{ content.partialInformationProvidedHeading | safe }}</h3>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph3 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph4 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph5 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.partialInformationParagraph6 | safe }}</p>
          {% elseif fields.caseStopped.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.caseStoppedHeading | safe }}</h2>
          {% if fields.informationNeeded.value === "true" and fields.informationNeededByPost.value === "false" %}
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph1 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph2 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px"><strong>{{ content.caseStoppedSubheading | safe }}</strong></p>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph3 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph4 | safe }}</p>
            <div>
              {{ govukButton({
              text: content.provideInfo | safe,
              href: "/provide-information",
              preventDoubleClick: true
              }) }}
            </div>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph5 | safe }}</p>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph6 | safe }}</p>
          {% else %}
            <p class="govuk-body" style="max-width: 600px">{{ content.caseStoppedParagraph | safe }}</p>
          {% endif %}
          {% elseif fields.caseClosed.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.caseClosedHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.caseClosedParagraph | safe }}</p>
          {% else %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.applicationReviewHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.applicationReviewParagraph | safe }}</p>
          {% endif %}
          {% elseif fields.documentsReceived.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.documentsReceivedHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.documentsReceivedParagraph | safe }}</p>
          {% elseif fields.applicationSubmitted.value == "true" %}
          {% if fields.documentsRequired.value == "true" %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.applicationReceivedHeading | safe }}</h2>
          {% if fields.caseType.value == "intestacy" %}
            <p class="govuk-body" style="max-width: 600px">{{ content.intestacyApplicationReceivedParagraph | safe }}</p>
          {% else %}
            <p class="govuk-body" style="max-width: 600px">{{ content.applicationReceivedParagraph | safe }}</p>
          {% endif %}
          {% else %}
            <h2 class="govuk-heading-m" style="max-width: 600px">{{ content.applicationReceivedHeading | safe }}</h2>
            <p class="govuk-body" style="max-width: 600px">{{ content.noDocsRequiredAppReceivedParagraph | safe }}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="govuk-grid-column-one-third" style="padding-right: 0px;">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-! probate-section-break">
      <h2 class="govuk-heading-m">{{ content.sideBarHeading | safe }}</h2>
      <p><a class="govuk-link" href="https://www.gov.uk/applying-for-probate" target="_blank">{{ content.sideBarParagraph | safe }}</a></p>
      {% if fields.checkAnswersSummary.value == "true" %}
        <p><a class="govuk-link" id="checkAnswerHref" href="/check-answers-pdf">{{ content.checkAnswersPdf | safe }}</a>
        </p>
      {% endif %}
      {% if fields.legalDeclaration.value == "true" %}
        <p><a class="govuk-link" id="declarationPdfHref" href="/declaration-pdf">{{ content.declarationPdf | safe }}</a>
        </p>
      {% endif %}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Contact</span>
        </summary>
        <div class="govuk-inset-text">
          <p>{{ content.insertText | safe }}</p>
          {% if fields.isWebChatEnabled.value === 'true' %}
            <p class="govuk-heading-s" id="avaya-web-chat-header"> {{ common.helpHeading3 | safe }} </p>
          {% include "includes/avaya-webchat.html" %}
          {% endif %}
          <p class="govuk-heading-s govuk-!-padding-top-2"> {{ common.helpHeading2 | safe }} </p>
          <p class="govuk-body"> {{ common.helpEmailLabel | replace("{contactEmailAddress}", common.helpEmail) | safe }}</p>
          <p class="govuk-heading-s"> {{ common.helpHeading1 | safe }}</p>
          <p class="govuk-body"> {{ common.helpTelephoneNumber | safe }}</p>
          <p class="govuk-heading-m govuk-!-padding-top-6"> {{ common.helpTelephoneOpeningHoursTitle | safe }} </p>
          <p class="govuk-body"> {{ common.helpTelephoneOpeningHours1 | safe }} </p>
          <p class="govuk-body"> {{ common.helpTelephoneOpeningHours2 | safe }} </p>
          <p class="govuk-body">{{ content.callCharges | replace("{callChargesLink}", globals.links.callCharges) | safe }}</p>
        </div>
      </details>
    </div>
  </div>
</div>
{% endblock %}
