{% macro checkanswer(items, url, common, alreadyDeclared, answerIsCollection, answerIsGroup, isComplete) %}
    {% set anyVisibleItems = items | selectattr("visible") | length %}
    {% if anyVisibleItems %}
        {% for item in items %}
            {% if item.visible %}
                {% set complete = true if isComplete !== false and item.answer else false %}
                {% set actionLink = common.change if complete else common.answer %}
                {% if item.a11yCtx %}
                    {% set aria_content = item.a11yCtx.change if complete else item.a11yCtx.answer %}
                {% else %}
                    {% set aria_content %}{{actionLink}} {{item.question}}{% endset %}
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{{ item.question | safe }}</dt>
                    {% if answerIsCollection %}
                        <dd class="govuk-summary-list__value">
                            {% for answ in item.answer %}
                                <div class="govuk-summary-list__row">
                                    {{ answ | safe }}
                                </div>
                            {% endfor %}
                        </dd>
                    {% else %}
                        <dd class="govuk-summary-list__value">{{ item.answer | safe }}</dd>
                    {% endif %}
                    <dd class="govuk-summary-list__actions">
                        {% if alreadyDeclared == "false" %}
                            <a class="govuk-link" href="{{ url }}" aria-label="{{aria_content | safe}}">{{ actionLink | safe }}</a>
                        {% endif %}
                    </dd>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
