{% from "widgets/fielderror.html" import fieldError %}

{% macro checkbox(name, field, text, disabled, legend) %}
<fieldset class="form-group {{ 'form-group-error' if field.error }}">
    <legend class="visually-hidden">{{legend | safe}}</legend>

    {{ fieldError(field) }}

    <div class="multiple-choice">
        <input id="{{name}}" type="checkbox" name="{{name}}" value="true" {{"checked='checked'" if field.value === 'true' }}>
        <label for="{{name}}">{{text | safe}}</label>
    </div>

</fieldset>
{% endmacro %}

{% macro checkboxes(name, field, options, legend) %}
{% set id = name | replace('[]', '') %}
<fieldset id={{id}} class="form-group {{ 'form-group-error' if field.error }}">
    <legend class="visually-hidden">{{legend | safe}}</legend>

    {{ fieldError(field) }}

    {% for option in options %}
    <div class="multiple-choice">
        <input id="{{id}}-{{loop.index}}" type="checkbox" name="{{name}}" value="{{option.option}}"  {{"checked='checked'" if option.checked}} {{'disabled' if option.disabled}}/>
        <label for="{{id}}-{{loop.index}}">{{option.option | safe}}</label>
    </div>
    {% endfor %}

</fieldset>
{% endmacro %}