{% macro taskAction(prevTaskStatus, status, nextURL, checkYourAnswersURL, content, title, alreadyDeclared) %}
    {% if prevTaskStatus == "complete" %}
        {% if status == "notStarted" %}
        <p class="govuk-body">
          <a href="{{ nextURL }}" class="govuk-link">{{ title | safe }}</a>
          <span class="govuk-tag govuk-tag--blue">{{ content.taskNotStarted | safe }}</span>
        </p>
        {% elif status == "started" %}
        <p class="govuk-body">
          <a href="{{ nextURL }}" class="govuk-link">{{ title | safe }}</a>
          <span class="govuk-tag govuk-tag--yellow">{{ content.taskStarted | safe }}</span>
        </p>
        {% elif status == "complete" %}
            {% if alreadyDeclared == "true" %}
                <p class="govuk-body">{{ title | safe }}
                <span class="govuk-tag">{{ content.taskComplete | safe }}</span>
                </p>
            {% elif alreadyDeclared != "hide" %}
                <p class="govuk-body"><a href="{{ checkYourAnswersURL }}" class="govuk-link">{{ title | safe }}</a>
                <span class="govuk-tag">{{ content.taskComplete | safe }}</span>
                </p>
            {% endif %}
        {% else %}
        <p class="govuk-body">{{ title | safe }}
        <span class="govuk-tag">{{ content.taskComplete | safe }}</span></p>
        {% endif %}
    {% else %}
        <p class="govuk-body">{{ title | safe }}
        <span class="govuk-tag govuk-tag--grey">{{ content.taskUnavailable | safe }}</span></p>
    {% endif %}
{% endmacro %}

{% macro unorderedList(items) %}
    <ul class="govuk-list govuk-list--bullet">
        {% for item in items %}
            <li>{{ item | safe }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro orderedList(items) %}
    <ol class="govuk-list govuk-list--number">
        {% for item in items %}
            <li>{{ item | safe }}</li>
        {% endfor %}
    </ol>
{% endmacro %}
