{% macro taskAction(prevTaskStatus, status, nextURL, checkYourAnswersURL, content, alreadyDeclared) %}

    {% if prevTaskStatus === 'complete' %}
        {% if status == 'notStarted' %}
            <!-- Start link -->
            <p><a href="{{nextURL}}" class="button button-start">{{content.taskNotStarted}}</a></p>
        {% elif status == 'started' %}
            <!-- Continue link -->
            <p><a href="{{nextURL}}" class="button">{{content.taskStarted}}</a></p>
        {% elif status == 'complete' %}
            <!-- Check your answers -->
            {% if alreadyDeclared === 'false' %}
                <p class="task-item-content"><a href="{{checkYourAnswersURL}}">{{content.taskComplete}}</a></p>
            {% else %}
                <p class="task-item-content">{{content.alreadyDeclared}}</p>
            {% endif %}
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro taskStatus(content, title, status, previousTaskStatus) %}

<div class="task-item-header">
    <span class="heading-medium">{{title}}</span>
    {% if status == 'complete' %}
        <span class="task-completed">{{content.checkYourAnswers | upper}}</span>
    {% else %}
        {% if (status !== 'started' ) and (previousTaskStatus !== 'complete') %}
         <span class="task-unavailable">{{content.taskUnavailable | safe }}</span>
        {% endif %}
    {% endif %}
</div>

{% endmacro %}

{% macro unorderedList(items) %}
<ul class="list list-bullet">
    {% for item in items %}
        <li>{{item | safe}}</li>
    {% endfor %}
</ul>
{% endmacro %}