{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set relationship = fields.relationshipToDeceased.value %}
{% if relationship == "optionChild" %}
{%    set legendText = content.childQuestion %}
{% elseif relationship == "optionGrandchild" %}
{%    set legendText = content.grandchildQuestion %}
{% else %}
{%    set legendText = content.parentQuestion %}
{% endif %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "adoptedOut",
        name: "adoptedOut",
        fieldset: {
            legend: {
                text: legendText | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.adoptedOut.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.adoptedOut.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
