{% extends "includes/layout.html" %}
{% block page_title %}
    {{ content.title}}
{% endblock %}

{% block content %}

{% from "widgets/lists.html" import unorderedList %}

<main id="content" role="main">
    <div class="column-two-thirds">

        {% include "includes/phase_banner_beta.html" %}

        <h1 class="form-title heading-large">{{content.heading1}}</h1>
        <p>{{ content.paragraph1 | safe }} </p>


        <h2 class="heading-medium">{{content.generalTermsHeading}}</h2>
        <p>{{content.generalTermsParagraph1 | safe}} </p>
        <p>{{content.generalTermsParagraph2 | safe}} </p>
        <p>{{content.generalTermsParagraph3 | safe}} </p>

        <h2 class="heading-medium">{{content.applicableLawHeading}}</h2>
        <p>{{content.applicableLawParagraph1 | safe}} </p>
        {{unorderedList([content["applicableLaw-item1"], content["applicableLaw-item2"],content["applicableLaw-item3"]])}}

        <h2 class="heading-medium">{{content.useOfServiceHeading}}</h2>
        <p>{{content.useOfServiceParagraph1 | safe}} </p>
        <p>{{content.useOfServiceParagraph2 | safe}} </p>
        <p>{{content.useOfServiceParagraph3 | safe}} </p>
        <p>{{content.useOfServiceParagraph4 | safe}} </p>

        <h2 class="heading-medium">{{content.privacyPolicyHeading}}</h2>
        <p>{{content.privacyPolicyParagraph1 | safe}} </p>
        <p>{{content.privacyPolicyParagraph2 | safe}} </p>
        <p>{{content.privacyPolicyParagraph3 | safe}} </p>
        <p>{{content.privacyPolicyParagraph4 | safe}} </p>

        <h2 class="heading-medium">{{content.informationSafeHeading}}</h2>
        <p>{{content.informationSafeParagraph1 | safe}} </p>
        <p>{{content.informationSafeParagraph2 | safe}} </p>
        <p>{{content.informationSafeParagraph3 | safe}} </p>
        <p>{{content.informationSafeParagraph4 | safe}} </p>

        <h2 class="heading-medium">{{content.personalInformationHeading}}</h2>
        <p>{{content.personalInformationParagraph1 | safe}} </p>
        <p>{{content.personalInformationParagraph2 | safe}} </p>

        <h2 class="heading-medium">{{content.nonPersonalInformationHeading}}</h2>
        <p>{{content.nonPersonalInformationParagraph1 | safe}} </p>
        <p>{{content.nonPersonalInformationParagraph2 | safe}} </p>
        <p>{{content.nonPersonalInformationParagraph3 | safe}} </p>
        <p>{{content.nonPersonalInformationParagraph4 | safe}} </p>
        {{unorderedList([content["nonPersonalInformation-item1"], content["nonPersonalInformation-item2"],content["nonPersonalInformation-item3"]])}}
        <p>{{content.nonPersonalInformationParagraph5 | safe}} </p>
        {{unorderedList([content["nonPersonalInformation-item4"], content["nonPersonalInformation-item5"]])}}
        <p>{{content.nonPersonalInformationParagraph6 | safe}} </p>

        <h2 class="heading-medium">{{content.sessionsHeading}}</h2>
        <p>{{content.sessionsParagraph1 | safe}} </p>
        <p>{{content.sessionsParagraph2 | safe}} </p>

        <h2 class="heading-medium">{{content.dataProtectionActHeading}}</h2>
        <p>{{content.dataProtectionActParagraph1 | safe}} </p>
        <p>{{content.dataProtectionActParagraph2 | safe}} </p>
        <p>{{content.dataProtectionActParagraph3 | safe}} </p>
        <p>{{content.dataProtectionActParagraph4 | safe}} </p>

        <h2 class="heading-medium">{{content.personalDataStoredHeading}}</h2>
        <p>{{content.personalDataStoredParagraph1 | safe}} </p>

        <h2 class="heading-medium">{{content.nonPersonaldataStoredHeading}}</h2>
        <p>{{content.nonPersonaldataStoredParagraph1 | safe}} </p>

        <h2 class="heading-medium">{{content.dataSecureHeading}}</h2>
        <p>{{content.dataSecureParagraph1 | safe}} </p>

        <h2 class="heading-medium">{{content.disclosingInformationHeading}}</h2>
        <p>{{content.disclosingInformationParagraph1 | safe}} </p>

        <h2 class="heading-medium">{{content.disclaimerHeading}}</h2>
        <p>{{content.disclaimerParagraph1 | safe}} </p>
        <p>{{content.disclaimerParagraph2 | safe}} </p>

        <h2 class="heading-medium">{{content.contactHeading}}</h2>
        <p>{{content.contactParagraph1 | safe}} </p>

    </div>

</main>

{% endblock %}