{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import orderedList %}

{% block page_content %}
    {% call govukFieldset({
        legend: {
            text: content.header,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 }}</p>

        {{ govukInsetText({
            text: ("<p class=\"govuk-body\">" + content.help1 + "</p><p class=\"govuk-body\">" + content.help2 + "</p>") | safe
        }) }}

        {{ govukDetails({
            summaryText: content.stepsTitle,
            text: orderedList([
                content["steps-item1"],
                content["steps-item2"],
                content["steps-item3"],
                content["steps-item4"]
            ])
        }) }}

        <p class="govuk-body">{{ content.paragraph2 }}</p>

        {% include "includes/document-upload.html" %}

        {{ govukDetails({
            summaryText: content.cantUploadDocumentsTitle | safe,
            text: content.cantUploadDocumentsText | safe
        }) }}
    {% endcall %}
{% endblock %}

{% block form_content %}
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.continue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
