{% extends "includes/two_thirds_form.html" %}

{% from "widgets/lists.html" import orderedList %}

{% block question %}
    <h1 class="form-title heading-large">{{content.header}}</h1>
{% endblock %}

{% block page_content %}
    <p>{{ content.paragraph1 }}</p>
    <div class="panel panel-border-wide">
        <p>{{ content.help }}</p>
    </div>
    <details class="help-panel">
        <summary><span class="summary">{{ content.stepsTitle }}</span></summary>
        <div class="panel panel-border-narrow">
            {{ orderedList([
                content['steps-item1'],
                content['steps-item2'],
                content['steps-item3'],
                content['steps-item4']
            ]) }}
        </div>
    </details>
    <p>{{ content.paragraph2 }}</p>

    {% include "includes/document-upload.html" %}

    <details class="help-panel cant-upload-documents">
        <summary><span class="summary">{{ content.cantUploadDocumentsTitle | safe }}</span></summary>
        <div class="panel panel-border-narrow">
            <p>{{ content.cantUploadDocumentsText | safe }}</p>
        </div>
    </details>
{% endblock %}

{% block form_content %}
    <div class="form-group">
        <input id="button" class="button" type="submit" role="button" value="{{ common.continue }}">
    </div>
{% endblock %}
