{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.header1 | replace("{phoneNumber}", fields.phoneNumber.value) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.subHeader1 | safe }}</p>
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: content.button,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

{% block save_and_close %}{% endblock %}
{% block executor_summary %}
    <h2 class="govuk-heading-m">{{ content.header2 | replace("{phoneNumber}", fields.phoneNumber.value) |  safe }}</h2>
    <p class="govuk-body">{{ content.subHeader2ExecName | replace("{executorName}", fields.leadExecutorName.value) | safe }}</p>
{% endblock %}
