{% extends "includes/two_thirds_form.html" %}

{% block page_title %}
    {{ content.title}}
{% endblock %}

{% set displaySignOutLink = 'false' %}

{% block question %}
    <h1 class="heading-large">{{content.header1 | replace('{phoneNumber}', fields.phoneNumber.value) | safe}}</h1>
    <p>{{content.subHeader1 | safe}}</p>
{% endblock %}

{% block form_content %}
    <div class="form-group">
        <input class="button" type="submit" value="{{content.button}}">
    </div>
{% endblock %}

{% block save_and_close %}
{% endblock %}

{% block executor_summary %}
    <h2 class="heading-medium">{{content.header2 | replace('{phoneNumber}', fields.phoneNumber.value) |  safe}}</h2>
    <p>{{content.subHeader2ExecName | replace('{executorName}', fields.leadExecutorName.value) | safe}}</p>
{% endblock %}
