{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.question }}</h1>
{% endblock %}

{% block form_content %}
    <p class="form-hint">{{ content.questionHint }}</p>
    <fieldset>
        <legend class="visually-hidden">{{ content.legend | safe }}</legend>
        {{ textField(
            name = 'grossValueField',
            field = fields.grossValueField,
            text = content.grossValue | safe,
            size = 13
        ) }}
        {{ textField(
            name = 'netValueField',
            field = fields.netValueField,
            text = content.netValue | safe,
            size = 13
        ) }}
    </fieldset>
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
