{{checkanswer(
    items = [
        {
            question: fields.summary.relationshipToDeceasedQuestion.value,
            answer: content.RelationshipToDeceased[fields.applicant.relationshipToDeceased.value],
            visible: true
        }
    ],
    url = content.RelationshipToDeceased.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptionPlace.question,
            answer: content.AdoptionPlace[fields.applicant.adoptionPlace.value],
            visible: fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
        }
    ],
    url = content.AdoptionPlace.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedSpouseNotApplyingReasonQuestion.value,
            answer: content.SpouseNotApplyingReason[fields.applicant.spouseNotApplyingReason.value],
            visible:
            (
                fields.applicant.relationshipToDeceased.value == "optionChild"
                or
                (
                    fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
                    and
                    fields.applicant.adoptionPlace.value == "optionYes"
                )
            )
            and
            fields.deceased.maritalStatus.value == "optionMarried"
        }
    ],
    url = content.SpouseNotApplyingReason.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedAnyOtherChildrenQuestion.value,
            answer: content.AnyOtherChildren[fields.deceased.anyOtherChildren.value],
            visible:
            (
                (
                    fields.applicant.relationshipToDeceased.value == "optionChild"
                    or
                    (
                        fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
                        and
                        fields.applicant.adoptionPlace.value == "optionYes"
                    )
                )
                and
                (
                    (
                        fields.deceased.maritalStatus.value == "optionMarried"
                        and
                        fields.applicant.spouseNotApplyingReason.value == "optionRenouncing"
                    )
                    or
                    fields.deceased.maritalStatus.value != content.DeceasedMaritalStatus.optionMarried
                )
            )
        }
    ],
    url = content.AnyOtherChildren.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedAnyChildrenQuestion.value,
            answer: content.AnyChildren[fields.deceased.anyChildren.value],
            visible:
            (
                fields.applicant.relationshipToDeceased.value == "optionSpousePartner"
                and
                fields.summary.ihtTotalNetValueGreaterThanIhtThreshold.value == "true"
            )
        }
    ],
    url = content.AnyChildren.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedAllChildrenOver18Question.value,
            answer: content.AllChildrenOver18[fields.deceased.allChildrenOver18.value],
            visible:
            (
                (
                    fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
                    or
                    fields.applicant.relationshipToDeceased.value == "optionChild"
                )
                and
                fields.deceased.anyOtherChildren.value == "optionYes"
            )
            or
            (
                fields.applicant.relationshipToDeceased.value == "optionSpousePartner"
                and
                fields.summary.ihtTotalNetValueGreaterThanIhtThreshold.value == "true"
                and
                fields.deceased.anyChildren.value == "optionYes"
            )
        }
    ],
    url = content.AllChildrenOver18.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedAnyDeceasedChildrenQuestion.value,
            answer: content.AnyDeceasedChildren[fields.deceased.anyDeceasedChildren.value],
            visible:
            (
                (
                    (
                        fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
                        or
                        fields.applicant.relationshipToDeceased.value == "optionChild"
                    )
                    and
                    fields.deceased.anyOtherChildren.value == "optionYes"
                )
                or
                (
                    fields.applicant.relationshipToDeceased.value == "optionSpousePartner"
                    and
                    fields.summary.ihtTotalNetValueGreaterThanIhtThreshold.value == "true"
                    and
                    fields.deceased.anyChildren.value == "optionYes"
                )
            )
            and
            fields.deceased.allChildrenOver18.value == "optionYes"
        }
    ],
    url = content.AnyDeceasedChildren.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AnyGrandchildrenUnder18.question,
            answer: content.AnyGrandchildrenUnder18[fields.deceased.anyGrandchildrenUnder18.value],
            visible:
            (
                (
                    (
                        fields.applicant.relationshipToDeceased.value == "optionAdoptedChild"
                        or
                        fields.applicant.relationshipToDeceased.value == "optionChild"
                    )
                    and
                    fields.deceased.anyOtherChildren.value == "optionYes"
                )
                or
                (
                    fields.applicant.relationshipToDeceased.value == "optionSpousePartner"
                    and
                    fields.summary.ihtTotalNetValueGreaterThanIhtThreshold.value == "true"
                    and
                    fields.deceased.anyChildren.value == "optionYes"
                )
            )
            and
            fields.deceased.allChildrenOver18.value == "optionYes"
            and
            fields.deceased.anyDeceasedChildren.value == "optionYes"
        }
    ],
    url = content.AnyGrandchildrenUnder18.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
