{{checkanswer(
    items = [
        {
            question: content.ApplicantName.firstName,
            answer: fields.applicant.firstName.value,
            visible: true
        },
        {
            question: content.ApplicantName.lastName,
            answer: fields.applicant.lastName.value,
            visible: true
        }
    ],
    url = content.ApplicantName.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{# this seems like the worst possible way to have a boolean comparison #}
{# we're passing a boolean into this from js and we end up with a string? i have no idea here #}
{% if fields.summary.codicilPresent.value == 'true' %}
  {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithoutNameWithCodicil %}

  {% if fields.applicant.firstName.value and fields.applicant.lastName.value %}
      {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithCodicil | replace("{applicantName}", fields.applicant.firstName.value + " " + fields.applicant.lastName.value) %}
  {% endif %}
{% else %}
  {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithoutName %}

  {% if fields.applicant.firstName.value and fields.applicant.lastName.value %}
      {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.question | replace("{applicantName}", fields.applicant.firstName.value + " " + fields.applicant.lastName.value) %}
  {% endif %}
{% endif %}

{{checkanswer(
    items = [
        {
            question: applicantNameAsOnWillQuestion,
            answer: content.ApplicantNameAsOnWill[fields.applicant.nameAsOnTheWill.value],
            visible: fields.summary.caseType.value == "gop"
        }
    ],
    url = content.ApplicantNameAsOnWill.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% if fields.summary.caseType.value == "gop" and fields.applicant.nameAsOnTheWill.value == "optionNo" %}
    {{checkanswer(
        items = [
            {
                question: content.ApplicantAlias.nameOnWillQuestionSummary,
                answer: fields.applicant.alias.value,
                visible: true
            }
        ],
        url = content.ApplicantAlias.url,
        common = common,
        alreadyDeclared = fields.summary.alreadyDeclared.value
    )}}

    {% if fields.applicant.aliasReason.value == "optionOther" %}
        {{checkanswer(
            items = [
                {
                    question: content.ApplicantAliasReason.reasonForNameChangeQuestionSummary,
                    answer: fields.applicant.otherReason.value,
                    visible: true
                }
            ],
            url = content.ApplicantAliasReason.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% else %}
        {{checkanswer(
            items = [
                {
                    question: content.ApplicantAliasReason.reasonForNameChangeQuestionSummary,
                    answer: content.ApplicantAliasReason[fields.applicant.aliasReason.value],
                    visible: true
                }
            ],
            url = content.ApplicantAliasReason.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% endif %}
{% endif %}

{{checkanswer(
    items = [
        {
            question: content.ApplicantPhone.phoneNumber,
            answer: fields.applicant.phoneNumber.value,
            visible: true
        }
    ],
    url = content.ApplicantPhone.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ApplicantAddress.question,
            answer: fields.applicant.address.value.formattedAddress,
            visible: true
        }
    ],
    url = content.ApplicantAddress.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
