{{checkanswer(
    items = [{
            question: content.ExecutorsNumber.question,
            answer: fields.executors.executorsNumber.value,
            visible: true
        }
    ],
    url = content.ExecutorsNumber.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
{{checkanswer(
    items = [{
            question: content.ExecutorsAllAlive.question,
            answer: fields.executors.allalive.value,
            visible: fields.executors.executorsNumber.value > 1
        }
    ],
    url = content.ExecutorsAllAlive.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [{
            question: content.ExecutorsWhoDied.question,
            answer: fields.summary.executorsWhoDied.value,
            visible: fields.executors.allalive.value === content.ExecutorsAllAlive.optionNo
        }
    ],
    url = content.ExecutorsWhoDied.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value,
    answerIsCollection = true
)}}

{% for executor in fields.executors.list.value %}
    {% if executor.isApplicant != true and executor.isDead === true %}
        {{checkanswer(
            items = [{
                    question: content.Summary.executorsWhenDiedQuestion | replace('{executorFullName}', executor.fullName),
                    answer: executor.diedBefore,
                    visible: true
                }
            ],
            url = content.ExecutorsWhenDied.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% endif %}
{% endfor %}
<h3 class="heading-small">{{content.Summary.aboutYouHeading | safe}}</h3>
{{checkanswer(
    items = [{
            question: content.ApplicantName.firstName,
            answer: fields.applicant.firstName.value,
            visible: true
        },
        {
            question: content.ApplicantName.lastName,
            answer: fields.applicant.lastName.value,
            visible: true
        }
    ],
    url = content.ApplicantName.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithoutName %}

{% if fields.applicant.firstName.value and fields.applicant.lastName.value %}
    {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.question | replace('{applicantName}', fields.applicant.firstName.value + ' ' + fields.applicant.lastName.value) %}
{% endif %}

{{checkanswer(
    items = [{
        question: applicantNameAsOnWillQuestion,
        answer: fields.applicant.nameAsOnTheWill.value,
        visible: true
    }],
    url = content.ApplicantNameAsOnWill.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value

)}}

{% if fields.summary.isMainApplicantAliasToggleEnabled.value === 'true' %}
    {% if fields.applicant.nameAsOnTheWill.value === 'No' %}
        {{checkanswer(
            items = [{
                question: content.ApplicantAlias.nameOnWill,
                answer: fields.applicant.alias.value,
                visible: true
            }],
            url = content.ApplicantAlias.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value

        )}}

        {% if fields.applicant.aliasReason.value === 'other' %}
            {{checkanswer(
                items = [{
                    question: content.ApplicantAliasReason.optionOtherHint,
                    answer: fields.applicant.otherReason.value,
                    visible: true
                }],
                url = content.ApplicantAliasReason.url,
                common = common,
                alreadyDeclared = fields.summary.alreadyDeclared.value

            )}}
        {% else %}
            {{checkanswer(
                items = [{
                    question: content.ApplicantAliasReason.optionOtherHint,
                    answer: fields.applicant.aliasReason.value,
                    visible: true
                }],
                url = content.ApplicantAliasReason.url,
                common = common,
                alreadyDeclared = fields.summary.alreadyDeclared.value

            )}}
        {% endif %}
    {% endif %}
{% endif %}

{{checkanswer(
    items = [{
        question: content.ApplicantPhone.phoneNumber,
        answer: fields.applicant.phoneNumber.value,
        visible: true
    }],
    url = content.ApplicantPhone.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value

)}}

{{checkanswer(
    items = [{
        question: content.ApplicantAddress.question,
        answer: fields.applicant.address.value,
        visible: true
    }],
    url = content.ApplicantAddress.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% if fields.executors.executorsNumber.value > 1 and fields.summary.executorsAlive.value === 'true' %}
<h3 class="heading-small">{{content.Summary.otherExecutors | safe}}</h3>
{{checkanswer(
    items = [{
        question: content.ExecutorsApplying.question,
        answer: fields.executors.otherExecutorsApplying.value,
        visible: true
    }],
    url = content.ExecutorsApplying.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [{
        question: content.ExecutorsDealingWithEstate.question,
        answer: fields.summary.executorsDealingWithEstate.value,
        visible: fields.executors.otherExecutorsApplying.value === content.ExecutorsApplying.optionYes
        }
    ],
    url = content.ExecutorsDealingWithEstate.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value,
    answerIsCollection = true
)}}

{{checkanswer(
    items = [{
            question: content.Summary.executorsWithOtherNames,
            answer: fields.summary.executorsWithOtherNames.value,
            visible: fields.summary.executorsWithOtherNames.value
        }
    ],
    url = content.ExecutorsWithOtherNames.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value,
    answerIsCollection = true
)}}



{% set cls = cycler(common.second,common.third,common.fourth,common.fifth) %}
{% for executor in fields.executors.list.value %}
    {% if executor.isApplicant != true and executor.isApplying === true %}
    <h3 class="heading-small">{{content.Summary.executorApplyingForProbate |  replace("{executorOrderNumber}", cls.next())}}</h3>
            {{checkanswer(
            items = [{
                    question: content.Summary.nameOnWill,
                    answer: executor.fullName,
                    visible: true
                }
            ],
            url = content.ExecutorsNames.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}

        {{checkanswer(
            items = [{
                    question: content.Summary.currentName,
                    answer: executor.currentName,
                    visible: executor.hasOtherName
                }
            ],
            url = content.ExecutorCurrentName.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}

        {% if fields.summary.isMainApplicantAliasToggleEnabled.value === 'true' %}
        {{checkanswer(
            items = [{
                    question: content.Summary.currentNameReason,
                    answer: executor.otherReason | default(executor.currentNameReason),
                    visible: executor.hasOtherName
                }
            ],
            url = content.ExecutorCurrentNameReason.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
        {% endif %}

        {{checkanswer(
            items = [{
                    question: content.Summary.address,
                    answer: executor.address,
                    visible: true
                }
            ],
            url = content.ExecutorAddress.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}


        {{checkanswer(
            items = [{
                    question: content.Summary.mobileNumber,
                    answer: executor.mobile,
                    visible: true
                }
            ],
            url = content.ExecutorContactDetails.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}


        {{checkanswer(
            items = [{
                    question: content.Summary.emailAddress,
                    answer: executor.email,
                    visible: true
                }
            ],
            url = content.ExecutorContactDetails.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% endif %}
{% endfor %}
{% if fields.summary.executorsPowerReservedOrRenounced.value === 'true' %}

<h3 class="heading-small">{{content.Summary.executorsNotApplyingForProbate | safe}}</h3>

{% for executor in fields.executors.list.value %}

    {% if executor.isApplicant != true and executor.isApplying != true and executor.isDead != true %}
            {{checkanswer(
            items = [{
                    question: content.ExecutorRoles.question | replace("{executorFullName}", executor.fullName ),
                    answer: executor.notApplyingReason,
                    visible: true
                }
            ],
            url = content.ExecutorRoles.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}

        {{checkanswer(
            items = [{
                    question: content.ExecutorNotified.question |  replace("{executorName}", executor.fullName ),
                    answer: executor.executorNotified,
                    visible: executor.notApplyingReason == content.ExecutorRoles.optionPowerReserved
                }
            ],
            url = content.ExecutorNotified.url | replace("*", loop.index0 ),
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}

        {% endif %}
{% endfor %}
{% endif %}
{% endif %}
