{{checkanswer(
    items = [
        {
            question: content.ExecutorsApplying.question,
            answer: content.ExecutorsApplying[fields.executors.otherExecutorsApplying.value],
            visible: true
        }
    ],
    url = content.ExecutorsApplying.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
{% if fields.executors.executorsNumber.value > 2 %}
{{checkanswer(
    items = [
        {
            question: content.ExecutorsApplying.question,
            answer: fields.summary.executorsDealingWithEstate.value,
            visible: fields.summary.executorsDealingWithEstate.value
        }
    ],
    url = content.ExecutorsApplying.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value,
    answerIsCollection = true
)}}
{% endif %}


{% if fields.executors.alias.value == "optionYes" %}
    {{checkanswer(
        items = [
            {
                question: content.Summary.executorsWithOtherNames,
                answer: fields.summary.executorsWithOtherNames.value,
                visible: fields.summary.executorsWithOtherNames.value
            }
        ],
        url = content.ExecutorsWithOtherNames.url,
        common = common,
        alreadyDeclared = fields.summary.alreadyDeclared.value,
        answerIsCollection = true
    )}}
{% endif %}
