{{checkanswer(
    items = [
        {
            question: content.ApplicantName.firstName,
            answer: fields.applicant.firstName.value,
            visible: true
        },
        {
            question: content.ApplicantName.lastName,
            answer: fields.applicant.lastName.value,
            visible: true
        }
    ],
    url = content.ApplicantName.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{# this seems like the worst possible way to have a boolean comparison #}
{# we're passing a boolean into this from js and we end up with a string? i have no idea here #}
{% if fields.summary.codicilPresent.value == 'true' %}
  {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithoutNameWithCodicil %}

  {% if fields.applicant.firstName.value and fields.applicant.lastName.value %}
      {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithCodicil | replace("{applicantName}", fields.applicant.firstName.value + " " + fields.applicant.lastName.value) %}
  {% endif %}
{% else %}
  {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.questionWithoutName %}

  {% if fields.applicant.firstName.value and fields.applicant.lastName.value %}
      {% set applicantNameAsOnWillQuestion = content.ApplicantNameAsOnWill.question | replace("{applicantName}", fields.applicant.firstName.value + " " + fields.applicant.lastName.value) %}
  {% endif %}
{% endif %}

{{checkanswer(
    items = [
        {
            question: applicantNameAsOnWillQuestion,
            answer: content.ApplicantNameAsOnWill[fields.applicant.nameAsOnTheWill.value],
            visible: fields.summary.caseType.value == "gop"
        }
    ],
    url = content.ApplicantNameAsOnWill.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% if fields.summary.caseType.value == "gop" and fields.applicant.nameAsOnTheWill.value == "optionNo" %}
    {{checkanswer(
        items = [
            {
                question: content.ApplicantAlias.nameOnWillQuestionSummary,
                answer: fields.applicant.alias.value,
                visible: true
            }
        ],
        url = content.ApplicantAlias.url,
        common = common,
        alreadyDeclared = fields.summary.alreadyDeclared.value
    )}}

    {% if fields.applicant.aliasReason.value == "optionOther" %}
        {{checkanswer(
            items = [
                {
                    question: content.ApplicantAliasReason.reasonForNameChangeQuestionSummary,
                    answer: fields.applicant.otherReason.value,
                    visible: true
                }
            ],
            url = content.ApplicantAliasReason.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% else %}
        {{checkanswer(
            items = [
                {
                    question: content.ApplicantAliasReason.reasonForNameChangeQuestionSummary,
                    answer: content.ApplicantAliasReason[fields.applicant.aliasReason.value],
                    visible: true
                }
            ],
            url = content.ApplicantAliasReason.url,
            common = common,
            alreadyDeclared = fields.summary.alreadyDeclared.value
        )}}
    {% endif %}
{% endif %}

{{checkanswer(
    items = [
        {
            question: content.ApplicantPhone.phoneNumber,
            answer: fields.applicant.phoneNumber.value,
            visible: true
        }
    ],
    url = content.ApplicantPhone.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ApplicantAddress.question,
            answer: fields.applicant.address.value.formattedAddress,
            visible: true
        }
    ],
    url = content.ApplicantAddress.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedIn.wholeBloodSiblingQuestion,
            answer: content.AdoptedIn[fields.applicant.adoptedIn.value],
            visible: fields.summary.caseType.value == "intestacy" and fields.applicant.relationshipToDeceased.value == "optionSibling"
        }
    ],
    url = content.AdoptedIn.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedOut.wholeBloodSiblingQuestion,
            answer: content.AdoptedOut[fields.applicant.adoptedOut.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionSibling"
                     and fields.applicant.adoptedIn.value == "optionNo"
        }
    ],
    url = content.AdoptedOut.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedIn.childQuestion | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.AdoptedIn[fields.applicant.adoptedIn.value],
            visible: fields.summary.caseType.value == "intestacy" and fields.applicant.relationshipToDeceased.value == "optionChild"
        }
    ],
    url = content.AdoptedIn.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedOut.childQuestion | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.AdoptedOut[fields.applicant.adoptedOut.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionChild"
                     and fields.applicant.adoptedIn.value == "optionNo"
        }
    ],
    url = content.AdoptedOut.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedIn.grandchildQuestion | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.AdoptedIn[fields.applicant.adoptedIn.value],
            visible: fields.summary.caseType.value == "intestacy" and fields.applicant.relationshipToDeceased.value == "optionGrandchild"
        }
    ],
    url = content.AdoptedIn.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptedOut.childQuestion | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.AdoptedOut[fields.applicant.adoptedOut.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionGrandchild"
                     and fields.applicant.adoptedIn.value == "optionNo"
        }
    ],
    url = content.AdoptedOut.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.AdoptionPlace.question,
            answer: content.AdoptionPlace[fields.applicant.adoptionPlace.value],
            visible: fields.summary.caseType.value == "intestacy" and fields.applicant.adoptedIn.value == "optionYes"
                     and
                     (fields.applicant.relationshipToDeceased.value == "optionSibling"
                      or fields.applicant.relationshipToDeceased.value == "optionChild"
                      or fields.applicant.relationshipToDeceased.value == "optionGrandchild")
        }
    ],
    url = content.AdoptionPlace.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ParentAdoptedIn.question | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.ParentAdoptedIn[fields.applicant.parentAdoptedIn.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionGrandchild"
        }
    ],
    url = content.ParentAdoptedIn.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ParentAdoptedOut.question | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.ParentAdoptedOut[fields.applicant.parentAdoptedOut.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionGrandchild"
                     and fields.applicant.parentAdoptedIn.value == "optionNo"
        }
    ],
    url = content.ParentAdoptedOut.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ParentAdoptionPlace.question | replace("{deceasedName}", fields.deceased.firstName.value + " " + fields.deceased.lastName.value) | safe,
            answer: content.ParentAdoptionPlace[fields.applicant.parentAdoptionPlace.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionGrandchild"
                     and fields.applicant.parentAdoptedIn.value == "optionYes"
        }
    ],
    url = content.ParentAdoptionPlace.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedSiblingLegallyAdoptedIn.value,
            answer: content.DeceasedAdoptedIn[fields.applicant.deceasedAdoptedIn.value],
            visible: fields.summary.caseType.value == "intestacy" and fields.applicant.relationshipToDeceased.value == "optionParent"
        }
    ],
    url = content.DeceasedAdoptedIn.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: fields.summary.deceasedSiblingLegallyAdoptedOut.value,
            answer: content.DeceasedAdoptedOut[fields.applicant.deceasedAdoptedOut.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionParent"
                     and fields.applicant.deceasedAdoptedIn.value == "optionNo"
        }
    ],
    url = content.DeceasedAdoptedOut.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.DeceasedAdoptionPlace.question,
            answer: content.DeceasedAdoptionPlace[fields.applicant.deceasedAdoptionPlace.value],
            visible: fields.summary.caseType.value == "intestacy"
                     and fields.applicant.relationshipToDeceased.value == "optionParent"
                     and fields.applicant.deceasedAdoptedIn.value == "optionYes"
        }
    ],
    url = content.deceasedAdoptionPlace.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}
