{{checkanswer(
    items = [
        {
            question: content.IhtMethod.question,
            answer: content.IhtMethod[fields.iht.method.value],
            visible: fields.iht.method.value
        }
    ],
    url = content.IhtMethod.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{% set selectedOption = fields.iht.form.value | replace("option", "") %}

{{checkanswer(
    items = [
        {
            question: content.IhtPaper.question,
            answer:  content.IhtPaper["option" + selectedOption],
            visible: fields.iht.method.value == "optionPaper"
        },
        {
            question: content.IhtValue.grossValue,
            answer: fields.iht["grossValueField" + selectedOption].value,
            visible: fields.iht.method.value == "optionPaper"
        },
        {
            question: content.IhtValue.netValue,
            answer: fields.iht["netValueField" + selectedOption].value,
            visible: fields.iht.method.value == "optionPaper"
        }
    ],
    url = content.IhtPaper.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.IhtIdentifier.question,
            answer: fields.iht.identifier.value,
            visible: fields.iht.method.value == "optionOnline"
        }
    ],
    url = content.IhtIdentifier.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.IhtValue.grossValue,
            answer: fields.iht.grossValueField.value,
            visible: fields.iht.method.value == "optionOnline"
        },
        {
            question: content.IhtValue.netValue,
            answer: fields.iht.netValueField.value,
            visible: fields.iht.method.value == "optionOnline"
        }
    ],
    url = content.IhtValue.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.ValueAssetsOutside.question,
            answer: fields.iht.netValueAssetsOutsideField.value,
            visible: fields.summary.caseType.value == "intestacy" and fields.iht.assetsOutside.value == "optionYes"
        }
    ],
    url = content.ValueAssetsOutside.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.IhtEstateValued.question,
            answer: content.IhtEstateValued[fields.iht.estateValueCompleted.value],
            visible: fields.iht.estateValueCompleted.value
        }
    ],
    url = content.IhtEstateValued.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.IhtEstateValues.estateGrossValue + content.IhtEstateValues.forEstateIht,
            answer: content.IhtEstateValues.poundSymbol + fields.iht.estateGrossValueField.value,
            visible: fields.iht.estateValueCompleted.value == "optionNo"
        },
        {
            question: content.IhtEstateValues.estateNetValue + content.IhtEstateValues.forEstateIht,
            answer: content.IhtEstateValues.poundSymbol + fields.iht.estateNetValueField.value,
            visible: fields.iht.estateValueCompleted.value == "optionNo"
        },
        {
            question: content.IhtEstateValues.estateNetQualifyingValue,
            answer: content.IhtEstateValues.poundSymbol + fields.iht.estateNetQualifyingValueField.value,
            visible: fields.iht.estateValueCompleted.value == "optionNo"
        }
    ],
    url = content.IhtEstateValues.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.DeceasedHadLateSpouseOrCivilPartner.question,
            answer: content.DeceasedHadLateSpouseOrCivilPartner[fields.iht.deceasedHadLateSpouseOrCivilPartner.value],
            visible: fields.iht.deceasedHadLateSpouseOrCivilPartner.value 
        }
    ],
    url = content.DeceasedHadLateSpouseOrCivilPartner.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}

{{checkanswer(
    items = [
        {
            question: content.IhtUnusedAllowanceClaimed.question,
            answer: content.IhtUnusedAllowanceClaimed[fields.iht.unusedAllowanceClaimed.value],
            visible: fields.iht.unusedAllowanceClaimed.value
        }
    ],
    url = content.IhtUnusedAllowanceClaimed.url,
    common = common,
    alreadyDeclared = fields.summary.alreadyDeclared.value
)}}