{% extends "includes/layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "widgets/lists.html" import taskAction, unorderedList %}
{% from "widgets/taskheader.html" import taskHeader %}

{% set taskNumber = 0 %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ content.header | safe }}</h1>
            <p class="govuk-body">{{ content.introduction | safe }}</p>
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <ol class="task-list">
                {% ifAsync fields.caseType.value === globals.caseTypes.gop %}
                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/deceased.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/executors.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/reviewAndConfirm.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/copies.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/payment.njk" %}

                {% endif %}
                {% ifAsync fields.caseType.value === globals.caseTypes.intestacy %}
                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/deceased.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/applicants.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/reviewAndConfirm.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/copies.njk" %}

                    {% set taskNumber = taskNumber + 1 %}
                    {% include "ui/tasklist/includes/payment.njk" %}
                {% endif %}
            </ol>

            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
