{% extends "includes/two_thirds_form.html" %}

{% block form_content %}
    <h1 class="govuk-heading-l">
        {{ content.heading }}
    </h1>
    <table class="govuk-form-group">
        <tbody>
        <tr>
            <td colspan="2">
                <div class="govuk-grid-row column-two-thirds">
                    <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ content.applicationFee | safe }}</div>
                </div>
            </td>
            <td class="change-answer">
                <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">&pound;{{ fields.applicationFee.value | safe }}</div>
            </td>
        </tr>
        {% if fields.copies.value.uk.cost > 0 %}
            <tr>
                <td colspan="2">
                    <div class="govuk-grid-row column-two-thirds">
                        <div class="govuk-!-font-size-24 govuk-!-font-weight-bold"> {{ fields.copies.value.uk.number | safe }} {{ content.extraCopiesFeeUk | safe }}</div>
                    </div>
                </td>
                <td>
                    <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">&pound;{{ fields.copies.value.uk.cost.toFixed(2) }}</div>
                </td>
            </tr>
        {% endif %}
        {% if fields.copies.value.overseas.cost > 0 %}
            <tr>
                <td colspan="2">
                    <div class="govuk-grid-row column-two-thirds">
                        <div class="govuk-!-font-size-24 govuk-!-font-weight-bold"> {{ fields.copies.value.overseas.number| safe }} {{ content.extraCopiesFeeOverseas | safe }}</div>
                    </div>
                </td>
                <td>
                    <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">&pound;{{ fields.copies.value.overseas.cost.toFixed(2) }}</div>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">
                <div class="govuk-grid-row column-two-thirds">
                    <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">{{ content.total | safe }}</div>
                </div>
            </td>
            <td>
                <div class="govuk-!-font-size-24 govuk-!-font-weight-bold">&pound;{{ fields.total.value }}</div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="govuk-form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
