{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "allalive",
        name: "allalive",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.allalive.errorMessage.message | safe } if fields.allalive.errorMessage,
        items: [
            {
                value: content["optionYes"],
                text: content["optionYes"],
                checked: true if fields.allalive.value == content["optionYes"] | escape
            },
            {
                value: content["optionNo"],
                text: content["optionNo"],
                checked: true if fields.allalive.value == content["optionNo"] | escape
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
