{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}
{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block question %}
    <h1 class="form-title govuk-heading-l">{{ content.question }}</h1>
{% endblock %}

{% block form_content %}
    {{ optionsRadio(content,
        name = 'allalive',
        field = fields.allalive,
        options = ['optionYes', 'optionNo'],
        legend = content.legend,
        inline = true
    ) }}
    <div class="govuk-form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
