{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    <h1 class="govuk-fieldset__legend--l">
      {% if fields.executorsNumber.value > 2 %}
        {{ content.multipleExecutorQuestion | safe }}
      {% else %}
        {{ content.oneOtherQuestion | safe }}
      {% endif %}
    </h1>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "allalive",
        name: "allalive",
        fieldset: {
            legend: {
                text: content.multipleExecutorQuestion | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.allalive.errorMessage | safe } if fields.allalive.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.allalive.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.allalive.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
