{% extends "includes/layout.html" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {% set applicationRows = [] %}
    {% for application in fields.applications.value %}
        {% set pageSubmitted = application.ccdCase.state != "Pending" and application.ccdCase.state != "PAAppCreated" and application.ccdCase.state != "CasePaymentFailed" %}
        {% set actionUrl = "/get-case/" + application.ccdCase.id + '?probateType=' + application.caseType %}

        {% set caseClasses = "case draft" if not application.deceasedFullName and application.ccdCase.state == "Pending" else "" %}
        {% set caseIdClasses = caseClasses + " govuk-table__cell--numeric case-id" %}
        {% set caseDateClasses = caseClasses + " govuk-table__cell--numeric" %}
        {% set caseStatusClasses = caseClasses + (" govuk-tag govuk-tag--green" if pageSubmitted else " govuk-tag govuk-tag--yellow") %}

        {% set applicationRows = (applicationRows.push([
            { html: "<a href=\"" + actionUrl + "\" class=\"govuk-link\">" + application.ccdCase.idFormatted + "</a>"  },
            { text: (application.deceasedFullName if application.deceasedFullName else (content.statusDraftProbate if application.caseType == "PA" else content.statusDraftIntestacy)) | safe, classes: caseClasses },
            { text: application.dateCreated | safe, classes: caseDateClasses},
            { html: "<strong class=\"" + caseStatusClasses + "\">" + (content.statusSubmitted if pageSubmitted else content.statusInProgress) + "</strong>" }
        ]), applicationRows) %}
    {% endfor %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ content.header | safe }}</h1>

            {{ govukTable({
                caption: content.header | safe,
                captionClasses: "govuk-visually-hidden",
                classes: "dashboard",
                head: [
                    { text: content.tableHeaderCcdCaseId | safe },
                    { text: content.tableHeaderDeceasedName | safe },
                    { text: content.tableHeaderCreateDate | safe, classes: "case-date" },
                    { text: content.tableHeaderCaseStatus | safe },
                    { html: "<span class=\"govuk-visually-hidden\">" + (content.tableHeaderActions | safe) + "</span>" }
                ],
                rows: applicationRows
            }) }}
            <div class="govuk-form-group">
              {{ govukButton({
              text: content.actionNewApplication | safe,
              href: "/start-eligibility",
              preventDoubleClick: true
              }) }}
            </div>
            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
