{% extends "includes/layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/checkanswer.njk" import checkanswer %}

{% set title = content.CopiesSummary.title %}

{% block content %}
    <div id="check-your-answers">
        <h1 class="govuk-heading-l">{{ content.CopiesSummary.heading | safe }}</h1>
        <p class="govuk-body">{{ content.CopiesSummary.extraCopies | safe }}</p>
        <dl class="govuk-summary-list">
            {{ checkanswer(
                items = [
                    {
                        question: content.CopiesUk.question,
                        answer: fields.copies.uk.value,
                        visible: true
                    }],
                url = content.CopiesUk.url,
                common = common,
                alreadyDeclared = "false"
            ) }}
            {{ checkanswer(
                items = [
                    {
                        question: fields.copies.assetsOverseasQuestion.value,
                        answer: content.AssetsOverseas[fields.assets.assetsoverseas.value],
                        visible: true
                    }],
                url = content.AssetsOverseas.url,
                common = common,
                alreadyDeclared = "false"
            ) }}
            {{ checkanswer(
                items = [
                    {
                        question: content.CopiesOverseas.question,
                        answer: fields.copies.overseas.value,
                        visible: fields.assets.assetsoverseas.value == "optionYes"
                    }],
                url = content.CopiesOverseas.url,
                common = common,
                alreadyDeclared = "false"
            ) }}
        </dl>

        <div class="govuk-form-group">
            {{ govukButton({
                text: common.saveAndContinue | safe,
                href: "/task-list",
                isStartButton: true
            }) }}
        </div>
    </div>

    {% include "includes/help_details.html" %}
{% endblock %}
