{% extends "includes/layout.html" %}

{% set displaySignOutLink = 'false' %}

{% block page_title %}
Sorry, we&rsquo;re having technical problems
{% endblock %}

{% block content %}

{% from "widgets/textfields.html" import textField %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large">Sorry, we&rsquo;re having technical problems</h1>
            <p>Please try again in a few minutes</p>
        </div>
    </div>

    {% include "includes/help_details.html" %}
</main>

{% endblock %}
