{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        idPrefix: "method",
        name: "method",
        fieldset: {
            legend: {
                text: content.question | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.hint | safe
        },
        errorMessage: { text: fields.method.errorMessage | safe } if fields.method.errorMessage,
        items: [
            {
                value: "optionPaper",
                text: content["optionPaper"] | safe,
                checked: true if fields.method.value == "optionPaper"
            },
            {
                value: "optionOnline",
                text: content["optionOnline"] | safe,
                checked: true if fields.method.value == "optionOnline"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
