{% extends "includes/two_thirds_form.html" %}

{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.question }}</h1>
{% endblock %}

{% block form_content %}
    <p class="form-hint">{{content.paragraph1 | safe}}</p>

    {{ optionsRadio(content,
        name = 'method',
        field = fields.method,
        options = ['paperOption', 'onlineOption'],
        legend = content.legend
    ) }}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
