{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "applicantParentAdoptedOut",
        name: "applicantParentAdoptedOut",
        fieldset: {
            legend: {
                text: content.question | replace("{applicantName}", fields.applicantName.value)  | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.applicantParentAdoptedOut.errorMessage | replace("{applicantName}", fields.applicantName.value)
| replace("{deceasedName}", fields.deceasedName.value) | safe } if fields.applicantParentAdoptedOut.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"] | safe,
                checked: true if fields.applicantParentAdoptedOut.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"] | safe,
                checked: true if fields.applicantParentAdoptedOut.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
