{% extends "includes/layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: content.banner,
                html: fields.phoneNumber.value
            }) }}

            <p class="govuk-body">{{ content.accessNotification | safe }}</p>

            <div class="govuk-form-group">
                {{ govukButton({
                    text: content.button,
                    href: "/sign-in"
                }) }}
            </div>

            <h2 class="govuk-heading-m">{{ content.header1 | safe }}</h2>
            <p class="govuk-body">{{ content.paragraph | safe }}</p>

            {{ unorderedList([
                content.listItem1,
                content.listItem2,
                content.listItem3
            ]) }}

            {% include "includes/help_details.html" %}
        </div>
    </div>
{% endblock %}
