{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    <h1 class="govuk-heading-l">{{ content.question | safe }}</h1>

    {% if errors == undefined %}
        {% if fields.paymentDue.value == "true" %}
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        {% else %}
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
        {% endif %}
    {% endif %}

    {% if fields.documentsRequired.value == "true" %}
        {{ govukInsetText({
            text: content.callout | safe
        }) }}
    {% endif %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
