{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% if fields.paymentDue.value == "true" %}
        <h1 class="govuk-heading-l">{{ content.headingPayment | safe }}</h1>
    {% else %}
        <h1 class="govuk-heading-l">{{ content.headingNoPayment | safe }}</h1>
    {% endif %}
    {% if errors == undefined %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
    {% endif %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.submit | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
