{% set previousTaskStatus = fields.previousTaskStatus.value.ApplicantsTask %}

<li class="task-item">
    {{ taskHeader(
        number = taskNumber + ".",
        content = content,
        title = content.applicantsTask | safe,
        status = fields.ApplicantsTask.value.status,
        previousTaskStatus = previousTaskStatus
    ) }}
    <div class="task-list-items">
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.ApplicantsTask.value.status,
            nextURL = fields.ApplicantsTask.value.nextURL,
            checkYourAnswersURL = fields.ApplicantsTask.value.checkYourAnswersLink,
            content = content,
            title = content.applicantsTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    </div>
</li>
