{% set previousTaskStatus = fields.previousTaskStatus.value.CopiesTask %}

<li class="task-item">
    {{ taskHeader(
        number = taskNumber + ".",
        content = content,
        title = (content.copiesTaskProbate if fields.caseType.value == "gop" else content.copiesTaskIntestacy) | safe,
        status = fields.CopiesTask.value.status,
        previousTaskStatus = previousTaskStatus
    ) }}
    <div class="task-list-items">
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.CopiesTask.value.status,
            nextURL = fields.CopiesTask.value.nextURL,
            checkYourAnswersURL = fields.CopiesTask.value.checkYourAnswersLink,
            content = content,
            title = content.copiesTask | safe
        ) }}
    </div>
</li>
