{% set previousTaskStatus = fields.previousTaskStatus.value.DeceasedTask %}
<ul class="task-list-items" style="list-style-type: none;">
  <li>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break-grey">
    <div>
        {{ taskAction(
            prevTaskStatus = "complete",
            status = fields.DeceasedTask.value.status,
            nextURL = fields.DeceasedTask.value.nextURL,
            checkYourAnswersURL = fields.DeceasedTask.value.checkYourAnswersLink,
            content = content,
            title = content.deceasedTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break-grey">
  </li>
</ul>
