{% set previousTaskStatus = fields.previousTaskStatus.value.DeceasedTask %}
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        {{ taskAction(
            prevTaskStatus = "complete",
            status = fields.DeceasedTask.value.status,
            nextURL = fields.DeceasedTask.value.nextURL,
            checkYourAnswersURL = fields.DeceasedTask.value.checkYourAnswersLink,
            content = content,
            title = content.deceasedTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    </li>
