{% set previousTaskStatus = fields.previousTaskStatus.value.DeceasedTask %}

<li class="task-item">
    <div class="task-list-items">
        {{ taskAction(
            prevTaskStatus = "complete",
            status = fields.DeceasedTask.value.status,
            nextURL = fields.DeceasedTask.value.nextURL,
            checkYourAnswersURL = fields.DeceasedTask.value.checkYourAnswersLink,
            content = content,
            title = content.deceasedTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    </div>
</li>
