<ul class="task-list-items" style="list-style-type: none;">
<li class="task-list-item">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible hmcts-section-break">
        {{ taskAction(
            prevTaskStatus = "complete",
            status = "hide",
            nextURL = "NotApplicable",
            content = content,
            title = content.eligibilityTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible hmcts-section-break">
</li>
</ul>
