{% set previousTaskStatus = fields.previousTaskStatus.value.EqualityTask %}

<li class="task-item">
    {{ taskHeader(
        number = taskNumber + ".",
        content = content,
        title = content.equalityTask | safe,
        status = fields.EqualityTask.value.status,
        previousTaskStatus = previousTaskStatus
    ) }}
    <div class="task-list-items">
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.EqualityTask.value.status,
            nextURL = fields.EqualityTask.value.nextURL,
            checkYourAnswersURL = null,
            content = content,
            title = content.equalityTask | safe,
            alreadyDeclared = "hide"
        ) }}
    </div>
</li>
