{% set previousTaskStatus = fields.previousTaskStatus.value.ExecutorsTask %}

<li class="govuk-task-list__item govuk-task-list__item--with-link">
     {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.ExecutorsTask.value.status,
            nextURL = fields.ExecutorsTask.value.nextURL,
            checkYourAnswersURL = fields.ExecutorsTask.value.checkYourAnswersLink,
            content = content,
            title = content.executorsTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
     ) }}
 </li>
