{% set previousTaskStatus = fields.previousTaskStatus.value.ExecutorsTask %}

<ul class="task-list-items" style="list-style-type: none;">
  <li class="task-list-item">
    <div>
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.ExecutorsTask.value.status,
            nextURL = fields.ExecutorsTask.value.nextURL,
            checkYourAnswersURL = fields.ExecutorsTask.value.checkYourAnswersLink,
            content = content,
            title = content.executorsTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
    </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break-grey">
  </li>
 </ul>
