{% set previousTaskStatus = fields.previousTaskStatus.value.PaymentTask %}

<ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.PaymentTask.value.status,
            nextURL = fields.PaymentTask.value.nextURL,
            checkYourAnswersURL = fields.PaymentTask.value.checkYourAnswersLink,
            content = content,
            title = content.paymentTask | safe
        ) }}
    </li>
</ul>
