{% set previousTaskStatus = fields.previousTaskStatus.value.PaymentTask %}

<ul class="task-list-items" style="list-style-type: none;">
  <li class="task-list-item">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break-grey">
    <div>
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.PaymentTask.value.status,
            nextURL = fields.PaymentTask.value.nextURL,
            checkYourAnswersURL = fields.PaymentTask.value.checkYourAnswersLink,
            content = content,
            title = content.paymentTask | safe
        ) }}
    </div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible probate-section-break-grey">
  </li>
 </ul>
