{% set previousTaskStatus = fields.previousTaskStatus.value.ReviewAndConfirmTask %}

<li class="task-item">
    {{ taskHeader(
        number = "3.",
        content = content,
        title = content.reviewAndConfirmTask | safe,
        status = "pending" if (
                fields.ReviewAndConfirmTask.value.status == "complete" and
                fields.hasMultipleApplicants.value == "true" and
                fields.alreadyDeclared.value == "false"
            ) else fields.ReviewAndConfirmTask.value.status,
        previousTaskStatus = fields.previousTaskStatus.value.ReviewAndConfirmTask
    ) }}
    <div class="task-list-items">
        {{ taskAction(
            prevTaskStatus = previousTaskStatus,
            status = fields.ReviewAndConfirmTask.value.status,
            nextURL = "summary/declaration",
            checkYourAnswersURL = fields.ReviewAndConfirmTask.value.checkYourAnswersLink,
            content = content,
            title = content.reviewAndConfirmTask | safe,
            alreadyDeclared = fields.alreadyDeclared.value
        ) }}
        {% if fields.ReviewAndConfirmTask.value.status == "complete" %}
            {% if fields.hasMultipleApplicants.value == "true" and fields.alreadyDeclared.value == "false" %}
                {% set declarationStatusRows = [] %}
                {% for executor in fields.declarationStatuses.value %}
                    {% set declarationStatusRows = (declarationStatusRows.push([
                        { text: executor.executorName | safe },
                        { text: (content.declared if executor.agreed else content.notDeclared) | safe }
                    ]), declarationStatusRows) %}
                {% endfor %}

                <p class="govuk-body">{{ content.reviewAndConfirmTaskMultiplesParagraph1 | safe }}</p>
                <p class="govuk-body">{{ content.reviewAndConfirmTaskMultiplesParagraph2 | safe }}</p>
                <h3 class="govuk-heading-s">{{ content.reviewAndConfirmTaskMultiplesParagraph3Heading | safe }}</h3>
                <p class="govuk-body">{{ content.reviewAndConfirmTaskMultiplesParagraph3 | safe }}</p>

                {% set declarationStatusRows = [] %}

                {% if fields.declarationStatuses.value | length == 0 %}
                    {% for executor in fields.declarationStatuses.value %}
                        {% set declarationStatusRows = (declarationStatusRows.push([
                            { text: executor.executorName | safe },
                            { text: content.notDeclared }
                        ]), declarationStatusRows) %}
                    {% endfor %}
                {% else %}
                    {% for executor in fields.declarationStatuses.value %}
                        {% set declarationStatusRows = (declarationStatusRows.push([
                            { text: executor.executorName | safe },
                            { text: content.agreed if executor.agreed == "agreed" else (content.disagreed if executor.agreed == "disagreed" else content.notDeclared) }
                        ]), declarationStatusRows) %}
                    {% endfor %}
                {% endif %}

                {{ govukTable({
                  caption: content.reviewAndConfirmTaskMultiplesParagraph3Heading | safe,
                  captionClasses: "govuk-visually-hidden",
                  firstCellIsHeader: false,
                  head: [
                    {
                      text: content.executorName | safe
                    },
                    {
                      text: content.declarationStatus | safe
                    }
                  ],
                  rows: declarationStatusRows
                }) }}
            {% endif %}
        {% endif %}
    </div>
</li>
