{% extends "includes/layout.html" %}

{% block content %}
    <main id="content" role="main">
        {% include "includes/phase_banner_beta.html" %}

        <h1 class="form-title heading-large">{{ content.question }}</h1>
        <p>{{ content.paragraph1 | safe }}</p>
        {% if fields.isCopiesFeesToggleEnabled.value === 'true' %}
            <p>{{ content.paragraph2_2 | safe }}</p>
        {% else %}
            <p>{{ content.paragraph2_1 | safe }}</p>
        {% endif %}
        <p>{{ content.paragraph3 | safe }}</p>

        <div class="form-group">
            <p><a href="/copies-uk" class="button button-start">{{ common.start }}</a></p>
        </div>

        {% include "includes/help_details.html" %}
    </main>
{% endblock %}
