{% extends "includes/two_thirds_form.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
        <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.start,
            href: "/copies-uk",
            classes: "govuk-button--start"
        }) }}
    </div>
{% endblock %}
