{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}
{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block question %}
    <h1 class="form-title heading-large">{{ content.question }}</h1>
{% endblock %}

{% block form_content %}
    <p class="form-hint">{{ content.hint }}</p>

    {{ optionsRadio(content,
        name = 'assetsoverseas',
        field = fields.assetsoverseas,
        options = ['optionYes', 'optionNo'],
        legend = content.legend,
        inline = true
    ) }}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
