{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "assetsoverseas",
        name: "assetsoverseas",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.hint
        },
        errorMessage: { text: fields.assetsoverseas.errorMessage.message | safe } if fields.assetsoverseas.errorMessage,
        items: [
            {
                value: "optionYes",
                text: content["optionYes"],
                checked: true if fields.assetsoverseas.value == "optionYes"
            },
            {
                value: "optionNo",
                text: content["optionNo"],
                checked: true if fields.assetsoverseas.value == "optionNo"
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
