{% set title = content.Summary.title %}

{% extends "includes/layout.html" %}
{% from "widgets/checkanswer.html" import checkanswer %}

{% block content %}
    <main id="content" role="main">
        {% include "includes/phase_banner_beta.html" %}
        {% include "includes/error_summary.html" %}

        <h1 class="heading-large">{{ content.Summary.heading }}</h1>
        <p id="main-heading-content">{{ content.Summary.checkCarefully }}</p>

        <h2 class="heading-medium">{{ content.Summary.deceasedHeading }}</h2>
        <table class="check-your-answers check-your-answers--long">
            <caption class="visually-hidden">{{ content.Summary.deceasedHeading }}</caption>
            <tbody>
                {% include "ui/summary/includes/deceased.njk" %}
            </tbody>
        </table>

        {% ifAsync fields.summary.isDocumentUploadToggleEnabled.value === "true" %}
            <h2 class="heading-medium">{{ content.Summary.uploadedDocumentsHeading }}</h2>
            <table class="check-your-answers check-your-answers--long">
                <caption class="visually-hidden">{{ content.Summary.uploadedDocumentsHeading }}</caption>
                <tbody>
                    {% include "ui/summary/includes/documentupload.njk" %}
                </tbody>
            </table>
        {% endif %}

        <h2 class="heading-medium">{{ content.Summary.ihtHeading }}</h2>
        <table class="check-your-answers check-your-answers--long">
            <caption class="visually-hidden">{{ content.Summary.ihtHeading }}</caption>
            <tbody>
                {% include "ui/summary/includes/iht.njk" %}
            </tbody>
        </table>

        <h2 class="heading-medium">{{ content.Summary.applicantHeading }}</h2>
        <table class="check-your-answers check-your-answers--long">
            <caption class="visually-hidden">{{ content.Summary.applicantHeading }}</caption>
            <tbody>
                {% include "ui/summary/includes/executors.njk" %}
            </tbody>
        </table>

        <h3 class="heading-small">{{content.Summary.aboutYouHeading | safe}}</h3>
        <table class="check-your-answers check-your-answers--long">
            <caption class="visually-hidden">{{ content.Summary.aboutYouHeading }}</caption>
            <tbody>
                {% include "ui/summary/includes/executors-applicant.njk" %}
            </tbody>
        </table>

        {% ifAsync fields.executors.executorsNumber.value > 1 and fields.summary.executorsAlive.value === "true" %}
            <h3 class="heading-small">{{content.Summary.otherExecutors | safe}}</h3>
            <table class="check-your-answers check-your-answers--long">
                <caption class="visually-hidden">{{ content.Summary.otherExecutors }}</caption>
                <tbody>
                    {% include "ui/summary/includes/executors-others.njk" %}
                </tbody>
            </table>

            {% set cls = cycler(common.second,common.third,common.fourth,common.fifth) %}
            {% for executor in fields.executors.list.value %}
                {% ifAsync executor.isApplicant != true and executor.isApplying === true %}
                    <h3 class="heading-small">{{content.Summary.executorApplyingForProbate | replace("{executorOrderNumber}", cls.next())}}</h3>
                    <table class="check-your-answers check-your-answers--long">
                        <caption class="visually-hidden">{{content.Summary.executorApplyingForProbate | replace("{executorOrderNumber}", cls.next())}}</caption>
                        <tbody>
                            {% include "ui/summary/includes/executors-others-details.njk" %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}

            {% ifAsync fields.summary.executorsPowerReservedOrRenounced.value === 'true' %}
                <h3 class="heading-small">{{content.Summary.executorsNotApplyingForProbate | safe}}</h3>
                <table class="check-your-answers check-your-answers--long">
                    <caption class="visually-hidden">{{content.Summary.executorsNotApplyingForProbate}}</caption>
                    <tbody>
                        {% include "ui/summary/includes/executors-others-not-applying.njk" %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}

        <p class="save-this-page-link">
            <em class="icon icon-file-download"></em>
            <a class="anchor-margin-left" id="checkAnswerHref" href="/check-answers-pdf">{{ content.Summary.checkAnswersPdf }}</a>
        </p>

        <div class="form-group">
            {% if fields.summary.readyToDeclare.value === "true" %}
                <p><a href="/declaration" class="button button-start">{{ common.saveAndContinue }}</a></p>
            {% else %}
                <p><a href="/summary/redirect" class="button button-start">{{ common.saveAndContinue }}</a></p>
            {% endif %}
        </div>
    </main>
{% endblock %}
