{% set title = content.Summary.title %}

{% extends "includes/layout.html" %}

{% block content %}
    <main id="content" role="main">
        {% from "widgets/checkanswer.html" import checkanswer %}

        {% include "includes/phase_banner_beta.html" %}
        {% include "includes/error_summary.html" %}

        <h1 class="heading-large">
            {{ content.Summary.heading }}
        </h1>
        <p id="main-heading-content">{{ content.Summary.checkCarefully }}</p>

        <h2 class="heading-medium">{{ content.Summary.deceasedHeading }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/deceased.njk" %}
        </dl>

        {% ifAsync fields.summary.isDocumentUploadToggleEnabled.value === "true" %}
        <h2 class="heading-medium">{{ content.Summary.uploadedDocumentsHeading }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/documentupload.njk" %}
        </dl>
        {% endif %}

        <h2 class="heading-medium">{{ content.Summary.ihtHeading }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/iht.njk" %}
        </dl>

        <h2 class="heading-medium">{{ content.Summary.applicantHeading }}</h2>
        <dl class="check-your-answers check-your-answers--long">
            {% include "ui/summary/includes/executors.njk" %}
        </dl>

        <p class="save-this-page-link">
            <em class="icon icon-file-download"></em>
            <a class="anchor-margin-left" id="checkAnswerHref" href="/check-answers-pdf">{{ content.Summary.checkAnswersPdf }}</a>
        </p>

        <div class="form-group">
            {% if fields.summary.readyToDeclare.value === "true" %}
                <p><a href="/declaration" class="button button-start">{{ common.saveAndContinue }}</a></p>
            {% else %}
                <p><a href="/summary/redirect" class="button button-start">{{ common.saveAndContinue }}</a></p>
            {% endif %}
        </div>
    </main>
{% endblock %}
