{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField, textFieldNoLabel %}

{% block question %}
    <h1 class="form-title heading-large">{{content.question}}</h1>
{% endblock %}

{% block form_content %}
    <fieldset>
        <legend class="visually-hidden">
            {{ content.question | safe }}
        </legend>
        {{textFieldNoLabel(
            name = 'identifier',
            text = content.question,
            field = fields.identifier,
            hint = content.ihtIdentifierHint
        )}}
    </fieldset>
    <div class="form-group">
        <input class="button" type="submit" value="{{common.continue}}">
    </div>
{% endblock %}
