{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-hint">{{ content.ihtIdentifierHint }}</p>

        {{ govukInput({
            label: {
                text: content.question,
                classes: "govuk-visually-hidden"
            },
            id: "identifier",
            name: "identifier",
            value: fields.identifier.value | safe,
            errorMessage: { text: fields.identifier.errorMessage.message } if fields.identifier.errorMessage,
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
