{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block form_content %}
{% call govukFieldset({
    legend: {
    text: content.header | safe,
    isPageHeading: true,
    classes: "govuk-fieldset__legend--l"
    }
}) %}

<p class="govuk-body">{{ content.paragraph1 | safe }}</p>

{% endcall %}
    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
