<div class="declaration-grid-item">
    <h2 class="govuk-heading-m">{{ content.saveThisPage }}</h2>
    <p class="govuk-body">
        <em class="icon icon-file-download"></em>
        <a class="govuk-link anchor-margin-left" id="declarationPdfHref" href="/declaration-pdf">{{ content.declarationPdf }}</a>
    </p>
</div>
