<h2 class="govuk-heading-l declaration-subheader">{{ content.declarationHeader }}</h2>
<p class="govuk-body declaration-item">{{ fields.declaration.value.confirm | safe }}</p>

{{ unorderedList([
    fields.declaration.value.confirmItem1,
    fields.declaration.value.confirmItem2,
    fields.declaration.value.confirmItem3
]) }}

<p class="govuk-body declaration-item">{{ fields.declaration.value.requests | safe }}</p>

{{ unorderedList([
    fields.declaration.value.requestsItem1,
    fields.declaration.value.requestsItem2
]) }}

<p class="govuk-body declaration-item">{{ fields.declaration.value.understand | safe }}</p>

{{ unorderedList([
    fields.declaration.value.understandItem1,
    fields.declaration.value.understandItem2
]) }}
