{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {{ govukCheckboxes({
        idPrefix: "executorsWhoDied",
        name: "executorsWhoDied",
        fieldset: {
            legend: {
                text: content.question,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        errorMessage: { text: fields.executorsWhoDied.errorMessage.message } if fields.executorsWhoDied.errorMessage,
        items: fields.options.value
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}

