{% extends "includes/two_thirds_form.html" %}

{% from "fieldset/macro.njk" import govukFieldset %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: (content.question if fields.isFeesApiToggleEnabled.value == "true" else content.questionOld) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        {% if fields.isFeesApiToggleEnabled.value == "true" %}
            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
            {{ unorderedList([
                content.bullet1 | safe,
                content.bullet2 | safe
            ]) }}
        {% endif %}

        {{ govukInput({
            label: {
                text: (content.copies if fields.isFeesApiToggleEnabled.value == "true" else content.copiesOld)
            },
            id: "uk",
            name: "uk",
            value: fields.uk.value | safe,
            errorMessage: fields.uk.errorMessage,
            attributes: {
                maxlength: 5
            },
            classes: "govuk-input--width-3",
            type: "number"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
