{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

            <p class="govuk-body">{{ content.paragraph1 | safe }}</p>
            <p class="govuk-body">{{ content.paragraph2 | safe }}</p>
       {% if fields.isFtFeesIncrease2025.value == "true" %}
            <p class="govuk-body">{{ content.paragraph3Fee2025 | safe }}</p>
        {% else %}
           <p class="govuk-body">{{ content.paragraph3 | safe }}</p>
        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            {{ content.detailTitle | safe }}
            </span>
        </summary>
        <div class="govuk-details__text">
            <p> {{ content.detailText1 | safe }}</p>
            <p> {{ content.detailText2 | safe }}</p>
        </div>
        </details>

        {{ govukInput({
            label: {
                text: content.copies | safe
            },
            id: "uk",
            name: "uk",
            value: fields.uk.value | safe,
            errorMessage: { text: fields.uk.errorMessage | safe } if fields.uk.errorMessage,
            attributes: {
                maxlength: 5
            },
            classes: "govuk-input--width-3",
            type: "number"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
