{% extends "includes/two_thirds_form.html" %}

{% from "widgets/lists.html" import unorderedList %}
{% from "widgets/numbers.html" import numberField %}

{% block question %}
    {% if fields.isFeesApiToggleEnabled.value === "true" %}
        <h1 class="form-title heading-large">{{ content.question }}</h1>
    {% else %}
        {% if fields.isCopiesFeesToggleEnabled.value === "true" %}
            <h1 class="form-title heading-large">{{ content.questionOld_2 }}</h1>
        {% else %}
            <h1 class="form-title heading-large">{{ content.questionOld_1 }}</h1>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_content %}
    {% if fields.isFeesApiToggleEnabled.value === "true" %}
        <p>{{ content.paragraph1 | safe }}</p>
        <p>{{ content.paragraph2 | safe }}</p>
        <p>{{ content.paragraph3 | safe }}</p>
        {{ unorderedList([
            content.bullet1 | safe,
            content.bullet2 | safe
        ]) }}

        <fieldset>
            <legend class="visually-hidden">{{ content.question | safe }}</legend>
            {{ numberField(
                name = 'uk',
                field = fields.uk,
                text = content.copies,
                size = 5,
                width= '1-8',
                currency = false
            ) }}
        </fieldset>
    {% else %}
        {% if fields.isCopiesFeesToggleEnabled.value === "true" %}
            <p>{{ content.paragraph1Old_2 | safe }}</p>
            <p>{{ content.paragraph2Old_2 | safe }}</p>
            <p>{{ content.paragraph3Old_2 | safe }}</p>
        {% endif %}

        <fieldset>
            {% if fields.isCopiesFeesToggleEnabled.value === "true" %}
                <legend class="visually-hidden">{{ content.questionOld_2 | safe }}</legend>
            {% else %}
                <legend class="visually-hidden">{{ content.questionOld_1 | safe }}</legend>
            {% endif %}
            {{ numberField(
                name = 'uk',
                field = fields.uk,
                text = content.copiesOld_2 if fields.isCopiesFeesToggleEnabled.value === "true" else content.copiesOld_1,
                size = 5,
                width= '1-8',
                currency = false
            ) }}
        </fieldset>
    {% endif %}
    <div class="form-group">
        <input class="button" type="submit" value="{{ common.saveAndContinue }}">
    </div>
{% endblock %}
