{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% set errorFields = [
        "dob-date",
        "dob-day",
        "dob-month",
        "dob-year",
        "dob-day-month",
        "dob-month-year",
        "dob-day-year"
    ] %}
    {% if errors %}
        {% set errorMessages = [] %}
        {% for field in errorFields %}
            {% if fields[field].errorMessage %}
                {% set errorMessages = errorMessages.concat([fields[field].errorMessage | replace("{deceasedName}", fields.deceasedName.value) | safe]) %}
            {% endif %}
        {% endfor %}
        {% set inlineErrors = {
            text: errorMessages | join("<br>") | safe
        } %}
    {% endif %}

    {{ govukDateInput({
        id: "dob-date",
        namePrefix: "dob",
        fieldset: {
            legend: {
                text: content.question | replace("{deceasedName}", fields.deceasedName.value) | safe,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            text: content.questionHint | safe
        },
        errorMessage: inlineErrors,
        items: [
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-day"].error or fields["dob-date"].error
                    or fields["dob-day-month"].error or fields["dob-day-year"].error),
                name: "day",
                label: content["dayName"] | safe,
                value: fields["dob-day"].value
            },
            {
                classes: "govuk-input--width-2" + (" govuk-input--error" if fields["dob-month"].error or fields["dob-date"].error
                    or fields["dob-month-year"].error or fields["dob-day-month"].error),
                name: "month",
                label: content["monthName"] | safe,
                value: fields["dob-month"].value
            },
            {
                classes: "govuk-input--width-4" + (" govuk-input--error" if fields["dob-year"].error or fields["dob-date"].error
                    or fields["dob-day-year"].error or fields["dob-month-year"].error),
                name: "year",
                label: content["yearName"] | safe,
                value: fields["dob-year"].value
            }
        ]
    }) }}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
