{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
{{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "grandchildAdoptionPlace",
      name: "grandchildAdoptionPlace",
      fieldset: {
          legend: {
          text: content.question | safe,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
      },
      errorMessage: { text: fields.grandchildAdoptionPlace.errorMessage | safe } if fields.grandchildAdoptionPlace.errorMessage,
      items: [
      {
          value: "optionYes",
          text: content["optionYes"] | safe,
          checked: true if fields.grandchildAdoptionPlace.value == "optionYes"
      },
      {
          value: "optionNo",
          text: content["optionNo"] | safe,
          checked: true if fields.grandchildAdoptionPlace.value == "optionNo"
      }
      ]
}) }}

<div class="govuk-form-group">
  {{ govukButton({
  text: common.saveAndContinue | safe,
  preventDoubleClick: true
  }) }}
</div>
{% endblock %}
