{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}
        <p class="govuk-body">{{ content.hintText | safe }}</p>

        {{ govukInput({
            label: {
                html: content.executorsNumber
            },
            id: "executorsNumber",
            name: "executorsNumber",
            type: "number",
            value: fields.executorsNumber.value | safe,
            errorMessage: { text: fields.executorsNumber.errorMessage | safe } if fields.executorsNumber.errorMessage,
            attributes: {
                maxlength: 5
            },
            classes: "govuk-input--width-3"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
