{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "widgets/checkanswer.njk" import checkanswer %}
{% from "widgets/lists.html" import unorderedList %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: (content.titleWithCodicil if fields.codicilPresent.value == "true" else content.title) | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

{% set summaryListRows = [] %}
  {% for executor in fields.list.value %}
    {% if loop.index0 == 0 %}
      {% set summaryListRows = (summaryListRows.push({
      key: { text: content.applicantExecutor | safe, classes: "govuk-!-font-weight-bold" },
      value: { text: executor.fullName | safe }
      }), summaryListRows) %}
    {% else %}
      {% set summaryListRows = (summaryListRows.push({
      key: { text: content.furtherExecutor | safe, classes: "govuk-!-font-weight-bold" },
      value: { text: executor.fullName | safe },
      actions: {
      items: [{
        href: "#",
        text: content.removeAction | safe,
        visuallyHiddenText: executor.fullName | safe,
        attributes: {
          'data-executor-index': loop.index0,
          formaction: "/executor-names/remove/" + loop.index0
        }
      }]
      }
      }), summaryListRows) %}
    {% endif %}
  {% endfor %}

{{ govukSummaryList({
rows: summaryListRows
}) }}

    <h2>{{ content.question | safe }}</h2>
    <p class="govuk-body">{{ content.hintTextWithCodicil if fields.codicilPresent.value == "true" else content.hintText | safe }}</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{ content.executorsDied | safe }}</li>
      <li>{{ content.executorsNotApplying | safe }}</li>
      <li>{{ content.executorsGivenUpRight | safe }}</li>
    </ul>

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "executorsNamed",
        name: "executorsNamed",
        fieldset: {
            legend: {
                text: content.executorTellUsMore | safe,
                isPageHeading: true,
                classes: "govuk-body"
            }
        },
    errorMessage: { text: (content.error2) if fields.codicilPresent.value === "true" else content.error1 | safe } if fields.allalive.errorMessage,
    items: [{
            value: "optionYes",
            text: content["optionYes"] | safe,
            checked: true if fields.executorsNamed.value == "optionYes"
        },
        {
            value: "optionNo",
            text: content["optionNo"] | safe,
            checked: true if fields.executorsNamed.value == "optionNo"
        }]
    }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
    <script nonce="{{ globals.nonce }}">
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('[data-executor-index]').forEach(function(removeLink) {
          removeLink.addEventListener('click', function(event) {
            event.preventDefault();
            const formAction = event.target.getAttribute('formaction');
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = formAction;
            document.body.appendChild(form);
            form.submit();
          });
        });
      });
    </script>
{% endblock %}
