{% extends "includes/two_thirds_form.html" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block form_content %}
    {% call govukFieldset({
        legend: {
            text: content.question | safe,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
        }
    }) %}

    <p class="govuk-body">{{ content.content1 | safe }}</p>
    <p class="govuk-body">{{ content.content2 | safe }}</p>

        {{ govukInput({
            label: {
                text: content.phoneNumber | safe
            },
            hint: {
                text: content.hint | safe
            },
            id: "phoneNumber",
            name: "phoneNumber",
            value: fields.phoneNumber.value | safe,
            errorMessage: { text: fields.phoneNumber.errorMessage | safe } if fields.phoneNumber.errorMessage,
            attributes: {
                maxlength: 25
            },
            classes: "govuk-!-width-three-quarters"
        }) }}
    {% endcall %}

    <div class="govuk-form-group">
        {{ govukButton({
            text: common.saveAndContinue | safe,
            preventDoubleClick: true
        }) }}
    </div>
{% endblock %}
