{% extends "includes/two_thirds_form.html" %}

{% from "widgets/textfields.html" import textField %}
{% from "widgets/radiobuttons.html" import optionsRadio %}

{% block question %}
<h1 class="form-title heading-large">{{content.question}}</h1>
<p>{{content.hintText1}}</p>
<p>{{content.hintText2 | safe}}</p>
{% endblock %}

{% block form_content %}
{{ optionsRadio(content,
name = 'mentalCapacity',
field = fields.mentalCapacity,
options = ['optionYes', 'optionNo'],
legend = content.legend,
inline = true
)}}
<div class="form-group">
  <input class="button" type="submit" value="{{common.continue}}">
</div>
{% endblock %}
